[2020-03-11 21:49] SanyaShevchuk commented on #1220
still face this problem with mapState, mapMutations etc. It can be reproduced if we have our component's computed/methods and vuex such as:
[code]

[2020-03-12 03:00] kiaking commented on #1220
@SanyaShevchuk Could you try annotating the other properties? (Computed methods require return value annotation).

[code]

[2020-03-12 16:14] F0rsaken commented on #1686
I think you should rather use `mapGetters` and overall `mapXXX` like here: https://vuex.vuejs.org/api/#mapgetters
but you want get typings with it.

I don't know if that's what you're looking for.

[2020-03-12 16:18] F0rsaken commented on #1686
Also, try writing it like this:
`this.$store.getters["getStateValue"]('testMsg')`
But I'm not sure if it will help with IDE

[2020-03-12 18:04] adjenks commented on #1437
@kiaking
Thank you for looking into it.

[2020-03-13 02:37] kiaking commented on #1686
Hmm... @ktsn Do you know anything about this?

[2020-03-13 02:54] ktsn commented on #1686
Are you talking about IDE behavior? As the getters type is `any`, it accepts any type of values and `state` and `value` will be `any` type as you don't annotate their types. I'm not sure what your expected behavior is.

[2020-03-13 16:05] 1isten commented on #1399
This works for me:

[code]

See https://stackoverflow.com/a/58557693/10222165

[2020-03-14 03:54] benwinding commented on #908
Hey guys, I was annoyed by this, so I made a package to trace `actions` and `mutations` it's called [vuex-trace](https://github.com/benwinding/vuex-trace):

![screenshot](https://i.imgur.com/OwHzlgT.gif)

[code]
Have a go and let me know, it's based on vuex's [built-in-logger-plugin](https://vuex.vuejs.org/guide/plugins.html#built-in-logger-plugin)

[2020-03-15 14:25] h311x opened #1695 "Add useStoreModule"
### What problem does this feature solve?
While I was looking through the examples of the 4.0 alpha version, I thought that when you have a large store it can become a bit annoying to declare getters and actions locally in every component you need. So I think it would be nice to have a some sort of a helper function that returns only (hopefully typed) store module you want to use.

### What does t

[2020-03-15 14:39] h311x commented on #1695
Otherwise we could add a “namespace” param for the useStore function that would resolve the needed module

[code]

Also having a some sort of "store mapper" would also be nice imo.

[code]

[2020-03-16 01:12] hxhieu commented on #1695
I guess just wait as I expect the mapGetters and mapActions etc helpers will get ported over soon (or already had?)

[2020-03-16 10:11] jdinartejesus commented on #913
I still have similar issue, there's no way to have updated computed when using the word city!

[2020-03-16 12:40] kiaking commented on #1695
Thanks for the feedback! Yes, I think we should have helper functions for composition api as well.

While retrieving module as complete set might be nice, I think we should start off with composition api version of `mapXXX` helpers named `useXXX`. So basically something like this.

[code]

We should obviously think about the best way to retrieve multiple actions in this case though.

I think it's

[2020-03-16 18:04] F0rsaken commented on #564
So I made a small library wich allows you to get fully typed store in actions and components.
It also adds helpers that allow you to import rather than us `mapXXX` or decorators

[2020-03-16 18:53] glutaminefree commented on #833
Hi, folks! I need this feature too.

[2020-03-17 00:37] phil294 commented on #1130
@LinusBorg why do the [docs on store code splitting](https://ssr.vuejs.org/guide/data.html#store-code-splitting) suggest that `serverPrefetch` should register with `{ preserveState: true }` then? On the server, there is no state yet, and as such, this fails.

In the docs example, it's `serverPrefetch ==> this.registerFoo() ==> this.$store.registerModule('foo', fooStoreModule, { preserveState: true

[2020-03-17 08:22] hxhieu commented on #1695
Thank you @kiaking
At the moment we are using this library, it works well in the meantime. Perhaps you guys could elaborate to speed up the process?
https://github.com/u3u/vue-hooks

[2020-03-17 12:54] F0rsaken commented on #1695
@hxhieu  you might be interested in a library that I wrote recently
https://github.com/owlsdepartment/vuex-typed
It has a helper like you proposed

[2020-03-17 17:20] kossa opened #1697 "Doc got empty page"
Hello,

I try to run : `npm run docs` after cloning and npm install command

Console :
![image](https://user-images.githubusercontent.com/1175584/76883027-c7c40580-687b-11ea-87a0-77705e94de50.png)

Browser :
![image](https://user-images.githubusercontent.com/1175584/76883027-c7c40580-687b-11ea-87a0-77705e94de50.png)

[2020-03-17 17:20] #1697 closed

[2020-03-17 17:30] kossa opened #1698 "Doc got empty page"
### Version
3.1.3

### Reproduction link
[http://localhost:8080/](http://localhost:8080/)

### Steps to reproduce
Clone repo
run : npm i
run : npm run docs

in browser open : http://localhost:8080/

### What is expected?
See the documentation

### What is actually happening?
Blank page

[2020-03-20 07:30] sunlulu8 opened #1700 "老项目vuex不能共享"
老项目，在每个模块都有一个入口文件会创建vue实例然后注入store，这种写法vuex好像不能共享啊，应该怎么修改才可以在一个模块修改state之后另一个模块getters可以自己获取

[2020-03-20 07:30] #1700 closed

[2020-03-22 08:46] goelrohan6 commented on #654
Hey @ simplesmiler but how can we cannot use $set in vuex mutations ?
I am facing a similar issue, adding a new key to an object in store
In case of array my computed property in component gets updated but doesn't work when setting the value as a string.

[2020-03-23 19:36] neelansh15 commented on #1698
I think the problem may be with your **port**.
I ran the dev branch and it works just fine. No blank page.
But I didn't run it on port 8080 since its corrupted, as I use it too much. You can try clearing your cache, __but__ I would suggest you go into `package.json` and change the port.
  Let me know if this solves the issue @kossa

[2020-03-23 19:52] kossa commented on #1698
how to change port ?

[2020-03-23 20:37] neelansh15 commented on #1698
Open `package.json`.
Under the scripts section, find this:
[code]

and change it to **this**:
[code]

Then run it normally with `npm run docs`. It will now run on `localhost:3000`

[2020-03-23 21:03] kossa commented on #1698
Alright it works fine thank you

[2020-03-23 21:03] #1698 closed

[2020-03-24 15:01] kiaking commented on #654
@goelrohan6 When adding a new key to the object, and when you can't use `Vue.set`, you should recreate fresh one as described at the doc.

[code]

And, I'll be closing this issue for now since it's quite outdated, and the discussion isn't matching the latest topics. Please feel free to open another issue if you find anything! 👍

[2020-03-24 15:01] #654 closed

[2020-03-25 15:25] ktsn commented on #833
#834 is merged.

[2020-03-25 15:25] #833 closed

[2020-03-26 08:18] sultanmyrza commented on #1406
Is there any works on making vuex typesafe or make it more IDE friendly so I can see expected args for action etc

[2020-03-26 10:32] gcollombet commented on #564
For me adding the store state type in module declaration is enough to have auto-completion

[code]

A more complete exemple :

[code]

[2020-03-27 09:17] budziam commented on #994
I would suggest going with a new, custom field that returns `$store` instance, but can be strongly typed.
[code]

[2020-03-28 06:12] shredmaster opened #1704 "More fluent API to access to actions/getters/state/mutations"
## What problem does this feature solve?
our team just adopted VueJS recently and I really don't like using the mapXXX helpers for a couple of reasons.

1. bad readability
2. magic strings are hard to maintain and refactor
3. can't navigate to the source in the IDE

I think it would be nice to access the module directly.

## What does the proposed API look like?

[code]
to dispatch checkout action

[2020-03-28 06:12] #1704 closed

[2020-03-28 06:16] shredmaster opened #1705 "fluent API to access to actions/getters/state/mutations"
### What problem does this feature solve?
our team just adopted VueJS recently and I really don't like using the mapXXX helpers for a couple of reasons.

1. bad readability
2. magic strings are hard to maintain and refactor
3. can't navigate to the source in the IDE

I think it would be nice to access the module directly.

### What does the proposed API look like?

[code]
to dispatch checkout acti

[2020-03-30 11:12] kiaking commented on #1705
Thanks for the feedback! Yes, current API needs improvements. We're trying to address many issues regarding type safety as well in Vuex 5. And really nice job with vuex-help! I think it's going to inspire the Vuex 5 design 👍

[2020-03-30 11:13] kiaking commented on #1406
We'll be closing this issue for now, since we do not plan to move typings to DefinitelyTyped. We do see there's a lot to improve with Vuex typings, and we're aiming to do much better in upcoming Vuex 5. But at the moment, having type file at this repo is not the bottle neck.

[2020-03-30 11:13] #1406 closed

[2020-03-30 15:29] kiaking commented on #1683
Will closing the issue since we've release Vuex 4.0.0-alpha.1 which supports Vue 3. Please let us know if there's anything not working with Vuex 4 👍

[2020-03-30 15:29] #1683 closed

[2020-03-31 05:07] Dean-Christian-Armada commented on #1399
@1isten . You can simply use `this` on NuxtJS

[2020-04-02 09:13] kiaking commented on #1690
Closing the issue due to inactivity, and I still think this feature could be provided via plugin, and it fits there better.

[2020-04-02 09:13] #1690 closed

[2020-04-02 09:15] kiaking commented on #1437
So I think we can close this issue. Sorry for making it open for so long, but as I described, this is technically really hard to do with Vuex 3. We should consider this and take in to the design of next Vuex iteration for sure.

[2020-04-02 09:15] #1437 closed

[2020-04-02 09:15] kiaking commented on #1686
@F0rsaken do you have any updates on this?

[2020-04-02 09:19] kiaking commented on #1664
@wangqiang66 Do you have any update on this one? Sorry I don't understand Chinese so not sure what this issue is 😅

[2020-04-02 09:20] kiaking commented on #1494
This is pretty old issue but do you have any updates on this? Sorry, I don't understand Chinese so I don't know what the issue is... 😓

[2020-04-02 09:23] #1494 closed

[2020-04-02 17:52] cerino-ligutom commented on #1705
@kiaking There's also [direct-vuex](https://github.com/paleo/direct-vuex) which we use currently mainly due to the reasons mentioned above by OP. My only gripe about it is having to do the marked in red code in the screenshot below:

![image](https://user-images.githubusercontent.com/6721822/78280355-86a24580-754b-11ea-8ebc-3fa92739a3a6.png)
The `actionContext` and `getterContext` from `getContext

[2020-04-02 19:25] hjJunior commented on #1544
I'm creating a new package ([vuex4flutter](https://github.com/hjJunior/vuex4flutter)), It would be great to have contributions :)

[2020-04-03 15:47] rynnova commented on #866
I see no reason to change the vernacular.  It works for the concepts used.  It's not Googlish at all.

[2020-04-03 15:57] davestewart commented on #866
@rynnova this ticket is also three years old...

[2020-04-03 15:57] #866 closed

[2020-04-03 19:55] rynnova commented on #866
@davestewart Happy to help!

[2020-04-06 16:01] stunnitysoft commented on #1553
@Xambey there are two ways you can to it

1. first way do this
[code]
buy this upper method you have said that **scoreBoard** is the module then what following in the array are getters that you have in the module

2.  another way is this one
[code]
I think there are understandable

[2020-04-08 02:12] bangbala opened #1709 "vuex性能问题"
store:xxx.js内容
...
  current(state) {
    ...
  }

  platform(state, getters) {
    return getters.current.platform;
  },

  groups(state, getters) {
    const platform = getters.platform;
    ...
  }
..

组件：
...
computed:{
  ...mapGetters("xxx", ["groups"])
}
...

发现current改变，但current.platform的值没有变化情况下发现groups会调用多次

[2020-04-08 02:12] #1709 closed

[2020-04-08 17:32] nek4life commented on #1316
Any movement on this? It's a bit confusing in the dev tools when calling replaceState and they do not update correctly. I looked in the devtools repo and saw this issue https://github.com/vuejs/vue-devtools/issues/690

[2020-04-14 06:26] kiaking commented on #1664
Closing the issue due to inactivity. Please open another issue if there's anything!

[2020-04-14 06:26] #1664 closed

[2020-04-14 06:27] kiaking commented on #1686
Closing the issue due to inactivity. As ktsn mentioned, the type is `any` so it should be accepting any call.

[2020-04-14 06:27] #1686 closed

[2020-04-15 12:43] payalord commented on #344
@Simonwep didn't worked for me. I've got error `Cannot read property 'state' of undefined`. I think I will pass rootState from action to my mutation.

[2020-04-16 10:32] Armaldio commented on #833
@ktsn When do you expect an npm release ?

[2020-04-20 03:06] boknoypatotoy commented on #409
in your `main.js`
write these codes

    import store from "./store";
    Vue.prototype.$store = store;

now, in your components script ... you can access it by
` this.$store.state.data`

[2020-04-20 10:48] kiaking commented on #1473
Do we have any update on this issue...? Seems like things are solved by the module...?

[2020-04-20 10:51] kiaking commented on #1109
I think we can close this issue since the PRs are merged. Let me know if I'm missing anything 👍

[2020-04-20 10:51] #1109 closed

[2020-04-20 10:53] kiaking commented on #996
I think we can close this issue now, since it's more about questions rather than an issue. Please feel free to open another issue if there's anything! 👍

[2020-04-20 10:53] #996 closed

[2020-04-20 10:56] kiaking commented on #885
I think we could be closing this for now. Handling promises is pretty much in user land situation. Cancelling, or interrupting with Promise in general is to broad concept to cover as single Vuex feature.

Let us know if there's any further discussion for this issue. Otherwise, I'll close it in a while 🤝

[2020-04-21 02:19] pablo-iwg commented on #1220
The above fixed the issue for me. @kiaking thank you!

[2020-04-21 11:01] kiaking commented on #1267
Yes, you should be adding all module states to the root state interface 👍

[2020-04-21 11:01] #1267 closed

[2020-04-21 11:02] kiaking commented on #1590
Is this issue still active? Can't understand the issue so 😅

[2020-04-21 11:11] kiaking commented on #569
Currently, cart example already uses the module. Will closing this one 🤝

[2020-04-21 11:11] #569 closed

[2020-04-21 11:19] nainardev opened #1721 "Why store() instead of just a store object"
### Current API
[code]

Why should we have store() return the state object instead of just writing the store?

### What does the proposed API look like?
[code]
Is there a specific reason for having a function return store object

[2020-04-21 11:25] kiaking commented on #1721
@nainardev Because there are `getters`, `actions` and `mutations` too. We need a way to distinguish those different properties. Same as how Vue's `data` and `computed` and `methods` are separated.

[2020-04-21 11:25] #1721 closed

[2020-04-21 11:39] kiaking commented on #1078
I agree, we should think something other than mirin approach. While mixin could be useful to JS users, it would be really tough to type mixin as well.

We're currently investigating how we could align next Vuex with including composition API.

[2020-04-21 11:39] #1078 closed

[2020-04-21 14:05] kiaking commented on #1120
I think this is possible by proxy, though I'm nosier we want to do this. We had some proxy comparing to raw object problem in Vue 3, and I don't think we want extra false negative on Vuex. It's going to be worth because this time it have different behavior in Dev and Prod build.

I'm keen to hear more feedback on how Proxy might affect any edge cases.

[2020-04-21 19:40] vegerot commented on #1500
I actually came here looking for the opposite.  I was wondering how I could access state by doing
[code]
just like how I could do
[code]

[2020-04-22 05:48] jaapspiering commented on #673
Well, that is no way to conclude this issue. The last post has 7 thumbs up and 7 thumbs down. This topic seems quite controversial.

[2020-04-22 21:12] SanyaShevchuk commented on #1220
yes I tried, it works for mapState and mapGetters, but does not for mapMutations. Ive added return type to methods as u did for computed, but still get an error

[2020-04-22 21:18] SanyaShevchuk commented on #1220
@pablo-iwg did u have a case with mutations or only computed?

[2020-04-22 22:35] pablo-iwg commented on #1220
I was using getters within a computed property and forgot to annotate the property. I was not using mutations.

[2020-04-23 05:03] kiaking commented on #459
Closing the issue due to its age. Though another problem is that dot notation is not possible type 🤔 Also, we have module system now, and it might be confusing whether it's trying to fetch nested state, or nested module state (kinda same thing though).

[2020-04-23 05:03] #459 closed

[2020-04-23 05:06] kiaking commented on #467
Closing due to the age.

It might be nice to have plugin only applied to the module, but I don't think this is the way to go. It's better for the plugin to provide such option (make selectable module to apply its feature).

[2020-04-23 05:06] #467 closed

[2020-04-23 05:08] kiaking commented on #600
Closing due to inactivity. Please feel free to open another issue if there's anything! 👍

[2020-04-23 05:08] #600 closed

[2020-04-23 05:11] kiaking commented on #624
Closing the issue due to inactivity. If we still need to discuss with the Symbol usage, it might be better to open a new issue since it will involve module system impact as well.

[2020-04-23 05:11] #624 closed

[2020-04-23 05:13] kiaking commented on #630
Closing due to inactivity. I think we need to consider about how would these kind of feature impact SSR usage as well.

[2020-04-23 05:13] #630 closed

[2020-04-23 05:16] kiaking commented on #695
Closing due to inactivity. Please open another issue if this is still needed. It might include discussion from the point of the latest Vuex features.

[2020-04-23 05:16] #695 closed

[2020-04-23 05:18] kiaking commented on #728
Closing due to inactivity. This is an interesting thing we might should follow up, and maybe it would be nice to get some insight from Nuxt usage as well, since they do have similar feature to initialize store on their first call.

[2020-04-23 05:18] #728 closed

[2020-04-23 05:21] kiaking commented on #755
Closing due to inactivity. I still agree with @posva and @ktsn that this can be done by `mixin` and such, though I don't think this amount of implicit behavior is desired as a best practice point of view.

[2020-04-23 05:21] #755 closed

[2020-04-23 05:24] kiaking commented on #766
Closing due to inactivity. Please open another issue if we still need to discuss about this one.

[2020-04-23 05:24] #766 closed

[2020-04-23 05:27] kiaking commented on #912
Closing due to inactivity. As ktsn mentioned, it might be too complicated to handle each edge cases. I think it would be easier to have only `local context` and `root context` with the option of `root: true`.

[2020-04-23 05:27] #912 closed

[2020-04-23 05:29] kiaking commented on #915
Closing due to its age. I think we could enhance the docs about differences of action and mutations, but I think we should gather latest feedbacks from the community of their current understanding and such.

[2020-04-23 05:29] #915 closed

[2020-04-23 05:30] kiaking commented on #939
Closing due to inactivity. Docs have been updated few times, and if still need to discuss about this topic, we should open another issue referencing the latest docs.

[2020-04-23 05:30] #939 closed

[2020-04-23 05:40] #947 closed

[2020-04-23 05:41] kiaking commented on #969
Closing this one since it seems like solved by the answers in this thread.

[2020-04-23 05:41] #969 closed

[2020-04-23 05:43] kiaking commented on #995
Closing the issue for now. This has been discussed in several issues and PRs, and to avoid any breaking changes, we can't do this at the moment for Vuex 3 & 4. We should definitely improve this on the next iteration.

[2020-04-23 05:43] #995 closed

[2020-04-23 05:44] kiaking commented on #1027
Closing due to inactivity.

[2020-04-23 05:44] #1027 closed

[2020-04-23 05:47] kiaking commented on #1050
It could be nice to have this added in the doc I think. It has been awhile but do you want to work on with this @karanisverma?

[2020-04-23 05:53] kiaking commented on #1081
Closing the issue due to inactivity for now. Vuex is currently a single state tree management system, and we need single store to manage its modules for things like SSR as well.

You can always pass the `namespace` maybe to the components to let them know what module it should be using.

However, we're planning to do better on this part with the next iteration of Vuex.

[2020-04-23 05:53] #1081 closed

[2020-04-23 05:55] kiaking commented on #1085
We get this issue quite a lot, so maybe it would be something to consider. But it's how Vue works in general, and not sure if Vuex core should expose some kind of magic on this.

I think it would be great to have plugin for this feature though 👍

[2020-04-23 05:55] #1085 closed

[2020-04-23 06:07] kiaking commented on #1382
I think we could consider adding `this` context to the getters as well. I don't think users should use it often, but some plugins might benefit from this feature. Simply to access the store instance since the plugin could inject some property to the store, then reference it inside getters like actions do in Nuxt.

Also, since having `this` context inside mutations and actions, it kinda makes thing

[2020-04-23 06:09] #1383 closed

[2020-04-23 06:10] kiaking commented on #1397
I think this is a nice feature as a plugin, though I think Vuex core should be consistent with how Vue works, and try not to do much of a magic like this one.

[2020-04-23 06:10] #1397 closed

[2020-04-23 06:11] #1413 closed

[2020-04-23 06:11] #1415 closed

[2020-04-23 06:13] kiaking commented on #1417
Closing due to inactivity. This is interesting discussion regarding next iteration of Vuex, though I see people referencing this issue and sees it like this is happening. It might, but because of its age, I think we should start a new discussion on how next Vuex iteration would be when the time comes.

[2020-04-23 06:13] #1417 closed

[2020-04-23 06:14] kiaking commented on #1440
Closing due to inactivity. I think you should just subscribe to action because it's possible now via `subscribeAction` method.

[2020-04-23 06:14] #1440 closed

[2020-04-23 06:15] kiaking commented on #1450
Closing due to duplication #1050

[2020-04-23 06:15] #1450 closed

[2020-04-23 06:22] kiaking commented on #1459
I think this is valid approach and I don't think it will cause any problem using it inside project teams. But it might be too opinionated to be in the docs. I mean users are free to do what ever they want with `mapXXX` helpers 👍

[2020-04-23 06:22] #1459 closed

[2020-04-23 06:28] kiaking commented on #1470
Do we still have issue? Sorry I don't understand the proposal here 😓

[2020-04-23 06:33] kiaking commented on #1489
#1531 might solve this one.

[2020-04-23 06:36] kiaking commented on #1490
It might be nice, though there's a difference between Vue's props since props are not functions, validator is the only way to validate it.

Mutations or actions are functions, you could always do the check of the payload inside a function and I think that's more straight forward. That's how ordinary function would work too.

[2020-04-23 06:36] #1490 closed

[2020-04-23 06:43] kiaking commented on #1502
I think what you propose is possible. Though creating npm bundles is possible in many ways so I don't know if we can document this in a good way.

I mean you could juts simply bundle your chunks, and let user register it as a module just like you have in your example. I think that's as simple as it can get.

[2020-04-23 06:43] #1502 closed

[2020-04-23 06:46] kiaking commented on #1503
Relates to #1193.

[2020-04-23 06:47] #1515 closed

[2020-04-23 06:50] kiaking commented on #1520
Closing the issue due to inactivity. I think this goes against where Vue prefer to stick with ordinary JavaScript paradigm. I think it would be better to just use underscore or something to indicate that it's a private thing.

[2020-04-23 06:50] #1520 closed

[2020-04-23 06:52] kiaking commented on #1526
I don't think this is a problem? I'm still not sure why having extra `undefined` arg at the end would cause the problem.

Could you create some reproduction for the real world use case?

[2020-04-23 06:55] kiaking commented on #1536
I understand packaging is tough to setup as a new comer, though still this is not really related to Vuex, so I think we should have better resources somewhere else.

[2020-04-23 06:55] #1536 closed

[2020-04-23 06:57] kiaking commented on #1547
There're lots of discussion trying to make `v-model` work on Vuex. While I think this is really nice to have as an plugin, I think Vuex should stick to how Vue work in general.

[2020-04-23 06:57] #1547 closed

[2020-04-23 07:04] SanyaShevchuk commented on #1220
Ive added return type for everything either computed or method but still mapMutations gets error

[2020-04-23 07:09] kiaking commented on #1677
Hi! Do you have any update on this? I think I'm not being able to reproduce the issue here...

[2020-04-23 07:13] kiaking commented on #1671
This is rather question about Story book usage, and I see answers in StackOverflow. Please continue discussion over there 🤝

[2020-04-23 07:13] #1671 closed

[2020-04-23 08:30] XemaA commented on #1677
Hello @kiaking ! Since I didn't figure out how to resolve this and I was pretty sure that it was a performance issue ... I opted for another solution; Instead of mutating the file content (parsed with papaparse), I am storing the result in a json file and only mutate the file path..

[2020-04-23 08:39] kiaking commented on #1677
Oh OK thanks. Well, 23MB is pretty huge on client side, and I understand you use electron so I think for that it's valid use case.

I think it solved for you now, there's not much we can't do if we can't reproduce it. Please feel free to open another issue if you find anything again 🙌

[2020-04-23 08:39] #1677 closed

[2020-04-23 11:19] Frontrider commented on #467
I would say that it is a good thing, as it opens up the possibility to use some existing plugins, without having to rewrite them. It provides a very high level of flexibility.

Our use case did not enter production, but is still hanging in the air. We can try to find an another solution tough.

[2020-04-23 16:54] ilyakamens commented on #651
The OP was referring to grouping mutations, not actions, with the goal of reducing multiple reactivity updates within a short period of time by either something like a debounce or a way to group multiple mutations into one (without having to manually write one mutation that specifically does the X mutations we're trying to group).

This should be reopened.

[2020-04-24 11:30] zaro commented on #640
I don't know if it makes sense to comment on closed issue, but still..

I think of the getters/mutations similar to the getters/setters in JS objects.

It's perfectly valid to use the getter in a setter, why it would be different here ?

[2020-04-24 18:58] AbdullahSohail-SE commented on #1382
There's a workaround to this if anyone viewing this comes across this problem:
you could simply pass 'this' instance to getter as an argument while calling it :

`checkGetter:function(){`
     ` return this.$store.getters.getSubject(this);`
  `  }`

and then the getter would be:

`export function getSubject () {`
  `return function(that){`
   ` // that.$axios.dosomething`
    `// that.$someOtherPl

[2020-04-25 04:05] #1473 closed

[2020-04-25 04:32] clouds56 commented on #1705
I think expose `makeLocalContext` might help a lot.

[2020-04-25 06:19] kiaking opened #1725 "Add useXXX helpers"
### What problem does this feature solve?
Currently, we don't have `mapXXX` helpers equivalent feature when using Vuex 4 in composition api. It would be nice to have as both a convenience and for better typing support.

### What does the proposed API look like?
To smoothly support migration from Vuex 3, at first, we should align with existing `mapXXX` helpers.

All of the following codes are meant

[2020-04-25 07:00] kiaking commented on #994
This issue has been solved at the `4.0.0-beta.1` 🎉
https://github.com/vuejs/vuex/releases/tag/v4.0.0-beta.1

[2020-04-25 07:00] #994 closed

[2020-04-25 17:48] pearofducks opened #1730 "ESM browser build still contains references to process.env"
### Version
4.0.0-beta.1

### Reproduction link
[https://unpkg.com/vuex@4.0.0-beta.1/dist/vuex.esm-browser.js](https://unpkg.com/vuex@4.0.0-beta.1/dist/vuex.esm-browser.js)

### Steps to reproduce
Compare build from 3.3.0

https://unpkg.com/vuex@3.3.0/dist/vuex.esm.browser.js

to build for 4.0.0-beta.1

https://unpkg.com/vuex@4.0.0-beta.1/dist/vuex.esm-browser.js

### What is expected?
No referenc

[2020-04-25 18:33] ereztdev commented on #587
### Terse Answer:

If you expect a state change to be asynchronous by nature (i.e. local API call for a large chunk of data) use an action that will call the mutation that will mutate that specific part of the asynchronously and will render that part of the state whenever the asynchronous call has finished.

If you do not need to create an asynchronous call (i.e. passing local data between compone

[2020-04-25 20:25] 3nuc commented on #564
The `can't overwrite Store<any>` issue (originally tracked in #994) will be resolved in Vuex 4 - [release notes here](https://github.com/vuejs/vuex/releases/tag/v4.0.0-beta.1)

[2020-04-26 03:27] kiaking commented on #1730
Thank you so much for the report! I'll create a fix.

[2020-04-26 03:39] kiaking commented on #1730
OK seems like this happened when we forward port Vuex 3 to Vuex 4, where Vuex 3 uses `process.env` instead of `__DEV__`. We should just make Vuex 3 use `__DEV__` and then merge back in to Vuex 4.

I'll include the fix in #1729.

[2020-04-26 04:49] BenoitRanque opened #1732 "Discussion: will Vuex be necessary with Vue3?"
Creating a usable central store is fairly trivial with the Vue3 composition api, example follows:

Example simple store:

[code]

The module can easily be imported in files that need it, or a store could trivially be provided in the root Vue instance.

This leads me to ask: what features will Vuex 5 offer over this?

[2020-04-26 04:49] #1732 closed

[2020-04-26 06:27] BenoitRanque commented on #1732
Will not reopen an issue, and wait for Vuex 5 RFC instead

[2020-04-26 17:22] mattdeclaire commented on #1311
For anyone who ends up here with the same problem I had, I was trying to use `mapState()` on getters.
[code]
[code]

[2020-04-26 18:23] peerhenry opened #1734 "No/insufficient documentation on accessing getters from other namespaced modules"
### Version
4.0.0-beta.1

### Reproduction link
[https://vuex.vuejs.org/guide/getters.html](https://vuex.vuejs.org/guide/getters.html)

### Steps to reproduce
Go to https://vuex.vuejs.org/guide/getters.html

### What is expected?
An example/explanation of how to access getters from another namespaced module.

### What is actually happening?
There is no explanation.

---
Only once I did a `console.

[2020-04-26 19:30] cuebit commented on #1734
Thanks for highlighting this, @peerhenry. Current documentation covers only Vuex 3 functionality for now.

Documentation for v4 is in the pipeline (as stated in repo [README](https://github.com/vuejs/vuex/blob/4.0/README.md#todos-as-of-400-beta1)). Will keep this issue open for subsequent reports and exposure.

[2020-04-27 01:42] kiaking commented on #1734
And by the way, I think you're right. You can only access other getters through `rootGetters` within namespaces module. That part hasn't changed for Vuex 4.

Or are you seeing any difference from Vuex 3 behavior...?

[2020-04-27 03:27] kiaking commented on #885
Closing due to inactivity. Please feel free to open another issue if there's anything 👍

[2020-04-27 03:27] #885 closed

[2020-04-28 03:15] kiaking commented on #1120
Closing due to inactivity for now.

[2020-04-28 03:15] #1120 closed

[2020-04-28 03:24] kiaking commented on #1590
Closing due to inactivity. Please open another issue if there's anything 👍

[2020-04-28 03:24] #1590 closed

[2020-04-28 06:32] SergioCrisostomo commented on #1120
Was it from me you wanted more feedback? If so I misunderstood.
I still think this is important, the concept of control over the store values gets lost when you can "sneak in" properties by accident or intentionally and they behave in other ways that declared properties. The solution I added in #1605 is only for Dev, so I think its a "safe" adition.

When you mention _"We had some proxy comparing

[2020-04-28 07:05] kiaking commented on #1120
There was an issue related to proxy not being the same object as the original object. Comparing both would fail and such.

That might not be the case for this implementation. However, having different objects being handled depending on the environment is something we should avoid as much as possible.

Sorry for closing this sudden, let's see if can get a bit more latest feedback on this.

@ktsn an

[2020-04-28 07:19] SergioCrisostomo commented on #1120
Np! In the solution I suggested `$$state` does get replaced by a proxy in dev build (ie `process.env.NODE_ENV !== 'production'`). Would be nice to see the test that tracks that specific problem you mentioned, I could test my solution on it and make another suggestion if needed.

[2020-04-28 10:47] bekalshenoy commented on #1695
Why Cant Just Import File That Contain Store and Just Call `Store.commit` or `Store.dispatch`.
[code]

[2020-04-28 15:56] ktsn commented on #1120
I'm against to proxy the state object as there is the problem @kiaking states. Also there is a valid case to add a new property to state.
Sorry I thought this issue was for `getters` object to warn for non-existing getters.

[2020-04-28 22:21] hxhieu commented on #1695
@bekalshenoy you are not wrong but that low-level and undesirable and unmaintainable approach.

Do you actually use it on your production code? i.e have you ever tried Vuex helpers?

With your suggestion, if we need to pass the state or an action to the template binding, then we will need to write scaffolding code i.e computed() and methods etc.

Also when to deal with Vuex namespaces, the low-lev

[2020-04-28 23:51] lmiller1990 commented on #1725
An alternative would be to provide these in a separate library, and users could use to include that, too, if you want to keep core very small and simple.

I like the proposal in general - it mirrors the mapXXX helpers nicely.

[2020-04-29 01:19] ChrisShank opened #1736 "useStore is missing a type declaration"
### Version
4.0.0-beta.1

### Reproduction link
[https://github.com/ChrisShank/vue-next-webpack-preview](https://github.com/ChrisShank/vue-next-webpack-preview)

### Steps to reproduce
Remove the type declaration of 'useStore' I added in 'vuex-shim.d.ts', and there will be a compile-time TS error.

### What is expected?
The type for useStore to exist.

### What is actually happening?
On the line:

[2020-04-29 08:38] ais-one opened #1737 "process.env.NODE_ENV causing problems in @vue/vite"
### Version
4.0.0-beta.1

### Reproduction link
[https://github.com/ais-one/vite-eg](https://github.com/ais-one/vite-eg)

### Steps to reproduce
clone the reproduction repo
follow README.md to install and run
view browser console.log for error

The problem in vite (which does not use webpack, does not have process)

[code]

### What is expected?
Vuex createStore runs without error

### What is act

[2020-04-29 08:58] ais-one commented on #1737
sorry closing this. It is being dealt with in [https://github.com/vuejs/vuex/issues/1730](https://github.com/vuejs/vuex/issues/1730)

[2020-04-29 08:58] #1737 closed

[2020-04-29 15:58] surmon-china commented on #1736
@ChrisShank Override the `vuex`'s type definition in TypeScript.

[code]

[2020-04-29 16:31] surmon-china commented on #1736
It seems that the type is difficult to cover, you can do this:

[code]

[2020-04-29 20:46] ChrisShank commented on #1736
@surmon-china I currently am [here](https://github.com/ChrisShank/vue-next-webpack-preview/blob/master/src/shims-vuex.d.ts#L10)

I think that a type should either be included with the package (similar to the one you first mentioned) or documented that the user is expected to provide their own shim.

[2020-04-30 01:17] kiaking commented on #1736
Thanks for the report! Yea we must add this one 👍

[2020-04-30 01:22] kiaking commented on #1695
@bekalshenoy You could do that if you're not doing SSR. It's valid approach. However, that's going to cause state pollution in SSR environment. It's really better to stick with using `this.$store` or `useStore` to prevent any unexpected behavior.

[2020-04-30 01:24] kiaking commented on #1725
Ah good point. Maybe something we should think about when designing Vuex 5. As of Vuex 4, `mapXXX` is already in the core and to align with Vuex 3, I think it makes more sense to have it in the core 👍

[2020-04-30 01:47] kiaking commented on #1558
This issue is in progress at #1531.

[2020-04-30 01:48] kiaking commented on #1526
Closing the issue due to inactivity. Please feel free to open another issue if there's anything 👍

[2020-04-30 01:48] #1526 closed

[2020-04-30 01:52] kiaking commented on #1571
Closing due to it might already fixed. See comment https://github.com/vuejs/vuex/pull/1676#issuecomment-618341755. Please feel free to open another issue if this is something that we should solve.

[2020-04-30 01:52] #1571 closed

[2020-04-30 14:03] #1736 closed

[2020-04-30 19:51] karanisverma commented on #1050
Hey @kiaking, sorry I would not be able to pick this up.

[2020-05-01 03:01] kiaking commented on #1050
@karanisverma OK! Thanks for checking 👍

[2020-05-01 13:19] shadow-light commented on #1638
I also think this should throw an error.

The console message could be easily missed during development, and if code goes to production it will fail silently, making it very hard to debug issues.

Is there ever a valid case for having a dispatch or commit refer to an action that doesn't exist? Otherwise, why not throw an error??

[2020-05-02 02:56] felipe-muner commented on #688
Amazing dudes, Nice job !

[2020-05-04 04:41] zl7261 commented on #1686
webstorm 2020.1 add vuex support.

[2020-05-04 14:59] dsl101 opened #1743 "Component update triggered when non-referenced Vuex state changes"
### Version
3.3.0

### Reproduction link
[https://codepen.io/dsl101/pen/bGVYPRG](https://codepen.io/dsl101/pen/bGVYPRG)

### Steps to reproduce
Open the codepen, and show the console. The component only references `state.rootObject.prop1` via a getter and a mutation to increment it. This can be seen when clicking the 'Inc Prop1' button.

When another property is added to the `rootObject` (via the

[2020-05-05 01:16] cuebit commented on #1743
@dsl101 this is expected behaviour and is a by-product of [Vue.set](https://vuejs.org/v2/api/#Vue-set).

Mutating `rootObject` using `Vue.set`, being a reactive property and all, will consequently trigger a reactivity ripple. This is true for mutations that directly affect the layout of an object (i.e. additions/deletions), as you've demonstrated this is not the case when mutating existing state.

[2020-05-05 10:41] dsl101 commented on #1743
Yes, the more I thought about it, the more I thought the buck would stop with Vue.set. What I'd really like to know is if this is a deliberate design decision or just a side effect of how reactivity is implemented. For example, if I replace a state object (e.g. `rootObject`) with another containing _identical_ properties and values, _should_ that count as cause for a reactivity ripple. Or is it ju

[2020-05-07 04:04] noozzz opened #1745 "Adding mutateAction"
### What problem does this feature solve?
There are confusion about action vs commit among developers.

Many developers suggest to use only dispatch() in components and call commits() only in actions in order to separate responsibilities and to make code reusable. However, someone suggests that it's okay to use commit directly in components when it is so obvious.

In order to take the benefits of

[2020-05-08 03:17] kiaking commented on #1743
It might be solved at Vue 3 due to the new reactivity system with proxy. In Vue 2, we have limitations such as this when adding/deleting property from the reactive object.

Nonetheless, since Vuex uses Vue's reactivity directly. Even if we do something about this, it has to be raised as Vue's issue.

Thanks for the feedback though! 👍

[2020-05-08 03:17] #1743 closed

[2020-05-08 08:29] #1489 closed

[2020-05-08 08:41] kiaking commented on #1558
This has been added via https://github.com/vuejs/vuex/pull/1740 👍

[2020-05-08 08:41] #1558 closed

[2020-05-08 09:18] kiaking commented on #1745
Thanks for the proposal! I think it should be considered in the next iteration of Vuex for sure.

First of all, I don't think we need to "insist users use only dispatch() in components". It's OK to commit mutations directly from the component. If you know what you're doing, then the users should be able to use the `commit` method however they want.

As for your proposal, I don't think having `muta

[2020-05-08 09:18] #1745 closed

[2020-05-09 14:25] jQrgen commented on #1220
+1

[2020-05-12 13:47] sdwru commented on #673
This and form validation seems to be one area that vuex could be greatly improved.

[2020-05-13 18:14] bitquality opened #1748 "Uncaught Error: [vuex] getters should be function but "getters.countermod/counter" in module "dummylib" is 1."
### Version
3.4.0

### Reproduction link
[https://new-issue.vuejs.org/?repo=vuejs/vuex](https://new-issue.vuejs.org/?repo=vuejs/vuex)

### Steps to reproduce

I get the following error while i try to import the plugin component with vuex modules in another vue project.

[code]

        //mystore/mod1/index.ts:

        import { actions } from "./actions"
        import { getters } from "./getters"

[2020-05-14 01:49] #1748 closed

[2020-05-14 01:50] bitquality commented on #1748
Export just the store obejcts without creating VueX.Store() has fixed the issue

export default {
      state,
      mutations,
      getters,
      actions
    }

[2020-05-15 18:01] SumNeuron opened #1751 "State undefined and Duplicate registration for unclear reasons?"
### Version
4.0.0-beta.2

### Reproduction link
[https://gitlab.com/SumNeuron/v-focus](https://gitlab.com/SumNeuron/v-focus)

### Steps to reproduce
npm i
npm run dev
hover over card

### What is expected?
module only registered once
state is not undefined

### What is actually happening?
module registered many times
state is undefined

---
I have a very simple Vue component and Vuex Module (that

[2020-05-15 18:26] kiaking commented on #1751
Hi! Thanks for report! However, I need to ask you to drill the issue down a bit more before you submit an issue.

For example, you're using `v3.4.0`, not `v4.0.0-beta.2`. In https://gitlab.com/SumNeuron/v-focus/-/blob/master/components/VFocus.vue, you're mutating props directly at line 86 which you shouldn't. When defining stores, you should do `export const mutations` instead of `export default`.

[2020-05-15 18:26] #1751 closed

[2020-05-15 18:30] SumNeuron commented on #1751
@kiaking  I can try? but real quick to address what you raised:

Re: version
whoops, sorry I just assumed I was latest. Sorry

Re: line 86:

that is tetrary operator, not assignment

Re: export
I made the change locally and doesnt seem to make a difference

[2020-05-15 18:38] kiaking commented on #1751
Oh sorry about line 86, my bad 😓

Yea, I was hoping that would had any effects... but as I mentioned, it's just hard to drill down and remove all unnecessarily code at my side. It's much easier to just look into the minimal code base 🤝

[2020-05-15 18:41] SumNeuron commented on #1751
I mean it is basically as minimal as it can be. Rather than vue-cli for development it uses nuxt, (npm run dev to spin it up). The store is literalyl 3 variables, one boolean, one not used in the component, and the other is null most of the time and the largest part of the component file is the stuff dedicated to registering the vuex module.

[2020-05-15 19:25] kiaking commented on #1751
Well we've discussed in the Discord and found out that it was thing about `preserveState` option usage and when you call `registerModule` and such.

Please understand that maybe it's easy for you to understand since you wrote it, there're lots clutters in the code things like `try` block which I don't understand what it does. I have to go through all of them before I get to the core because it's n

[2020-05-16 07:09] patrickdorival commented on #335
@morficus I'm wondering the same thing.
One thing I did notice was that if you change the dynamic key from `var newKey = module + ':' + name;` using a `:` to using `/` then it seems to namespace it by default.

If you leave the module namespacing set to true, then it will double namespace when using the `/` separator.

I'm still testing it out but I think this is the way to go

[2020-05-18 06:20] xiaodel opened #1752 "[Vue warn]: Failed to mount component: template or render function not defined."
[Vue warn]: Failed to mount component: template or render function not defined.
(found in <Root>)

[2020-05-18 06:20] #1752 closed

[2020-05-18 11:40] Ewelina436 opened #1753 "Lazy load doesn't work for registerModule"
I try lazy load module vuex by registerModule, however, when it gets called "undefined".
I found an example that had to work here, but don't work [here at the end](https://itnext.io/vue-js-app-performance-optimization-part-3-lazy-loading-vuex-modules-ed67cf555976) -
My code:
[code]

When I try to import statically everything works... However, it is very important for me to be lazy. Please help...

[2020-05-18 11:40] #1753 closed

[2020-05-18 12:04] Ewelina436 opened #1754 "lazy load doesn't for registerModule"
### Version
3.3.0

### Reproduction link
[https://codesandbox.io/s/vuex-load-module-d2tss?file=/src/main.js](https://codesandbox.io/s/vuex-load-module-d2tss?file=/src/main.js)

### Steps to reproduce
1. click button 'check' - open Console

### What is expected?

access to the newly registered module

### What is actually happening?
I get the answer 'undefined'

---

When I try to import statically

[2020-05-18 12:21] kiaking commented on #1754
You need to add `default` to get the default export.

[code]

It would help to console log the result of the `import` method and see what you're actually getting 👍

[2020-05-18 13:16] Ewelina436 commented on #1754
Thank you very much for your answer!  I have another very important problem,  is it possible to have access to the module in created. Download data from api. I need to register the module and download user data via store.
My code:
[code]

[2020-05-18 13:29] kiaking commented on #1754
I guess you need to put that `dispatch` method inside `then` clause.

[code]

Not sure until I can see your whole code though.

However, I have to ask you to continue with the questions on Discord or at Vue Forum. GitHub issues are not for the questions but for the bug report and a new feature discussions. Hope you would understand 🙏

[2020-05-18 13:29] #1754 closed

[2020-05-19 03:23] rfox12 commented on #564
Vuex has created a lot of pain for Typescript users.  Now that we have the Composition API... do we even really need Vuex?  In 2020, if I'm training a team to use Vue 3, why would I teach them Vuex?  Creating stateful singletons that you can compose is a really nice pattern.  Code is so much cleaner without Vuex.

The arguments in favor of Vuex (in my mind) are:
- Vue devTools integration (time tr

[2020-05-19 09:57] yoyoys commented on #564
Agree, I've trained my teammate to use Vue's injection to provide shared data between components.

[2020-05-19 13:01] garyo commented on #564
This is true, but Vue dev tools integration is not a small thing. It can be extremely useful for debugging.

[2020-05-20 00:17] TonnyORG commented on #564
I'm kinda facing the same issue here, this is how my `actions.ts` looks like:
[code]
But I get this warning:
[code]

Any idea how to fix this?

[2020-05-20 02:15] rfox12 commented on #564
A shout out to @paleo, [direct-vuex](https://www.npmjs.com/package/direct-vuex) is fantastic.  Strongly typed Vuex access within the store **and** (perhaps more importantly) when components access the store state and actions.

I tried Vuex 4 today, but it didn't really do much for me (I'm still on Vue2 + Composition add-on).  Is there an outline of how Vuex 4 will work for Typescript users?  All I

[2020-05-20 02:28] ssly opened #1755 "Vuex.createStore throw TS2339 in production with vue-cli and vue add vue-next"
1. vue create vue-template(typescript with no class-style)
2. vue add vue-next
3. npm run serve

some errors:
1. TS2339: Property 'createStore' does not exist on type
2. main.ts createApp(App) throw TS2345: Argument of type 'typeof import

[2020-05-20 02:28] #1755 closed

[2020-05-20 04:34] karel-3d opened #1756 "Vuex getters are not type checked in typescript"
### What problem does this feature solve?
This feature will correctly check types of store getters.

Currently, getters have type `getters: any`.

### What does the proposed API look like?
vuex getters are defined (maybe) correctly in https://github.com/ClickerMonkey/vuex-typescript-interface/blob/master/index.d.ts

[code]

~I am not sure if this is actually correct. I can try it and make a PR if

[2020-05-20 04:41] karel-3d commented on #1756
Eh, that type definition is so wildly different from the current one that it cannot really be reused.

[2020-05-20 06:44] zzcong opened #1757 "When using strict mode, you want to provide a deep copy of 'state' and 'getter' methods"
In strict mode, when you make a deep copy of an object inside 'state', the 'dep' in the object will be copied as well, and an error will be reported: 'do not mutate vuex store state outside mutation handlers.'

[2020-05-20 06:44] #1757 closed

[2020-05-20 06:47] zzcong opened #1758 "When using strict mode, you want to provide a deep copy of 'state' and 'getter' methods"
### What problem does this feature solve?
In strict mode, when you make a deep copy of an object inside 'state', the 'dep' in the object will be copied as well, and an error will be reported: 'do not mutate vuex store state outside mutation handlers.'

### What does the proposed API look like?
function deepCopy (name) { return JSON.parse(JSON.stringify(state[name])) }

[2020-05-20 11:30] 3nuc commented on #564
@rfox12 As far as I know, you'll need to wait for Vuex 5. Vuex 4 was focused on preparing for Vue 3 and allowing passing your own interface to Store<>

Before Vuex 4, you'd have to do:
new Vue({
  store: new Store(store) as Store<any>
})

thus this.$store.state wouldn't be typed. Working around that (passing your own store interface instead of any) required some trickery

[2020-05-20 12:40] kiaking commented on #1756
Yes the getters are `any` at the moment. It's kinda hard to type this in clean way. We should be doing much better in Vuex 5.

We're keeping TS issue open at https://github.com/vuejs/vuex/issues/564 so let's move it over there unless there's some simple type improvements can be done in Vuex 3 or 4 👍

[2020-05-20 12:40] #1756 closed

[2020-05-20 12:42] kiaking commented on #1758
Sorry what is 'dep'? I've stored almost all kind of crazy data structure to state but never encountered the error. Could you provide the reproduction code for this?

[2020-05-20 13:26] cuebit commented on #1758
Since `JSON.parse(JSON.stringify(...))` doesn't exhibit this behaviour, how are you performing the deep copy initially? Otherwise, seems like your state is originally malformed.

@kiaking `Dep` is the dependency object from Vue's observer.

[2020-05-21 02:58] zzcong commented on #1758
[这是一个 'codesandbox' 例子，请查看](https://codesandbox.io/s/frosty-night-rlujg)，Take a look at the console. While it doesn't affect the production environment, it does affect the developer's judgment in the development environment
![image](https://user-images.githubusercontent.com/27077790/82518435-fbf4c480-9b51-11ea-96cd-7d2319bbb750.png)

![image](https://user-images.githubusercontent.com/27077790/8251

[2020-05-21 04:35] kiaking commented on #1758
You're not deep coping the object. So the warning is correct, you are mutating the original state inside component. `slice` method is shallow copy, you have to copy the object inside the array as well.

At first you're store mutation is wrong. You need to change it to

[code]

Then, change your `changeList` method in your HelloWorld component:

[code]

However, if this is all you want to do, you c

[2020-05-21 04:35] #1758 closed

[2020-05-21 07:51] yeyaolong opened #1759 "When the ref variable changes, the vuex variable is changed synchronously"
my project is created by @vue/cli 4.3.1

## description
before I call `updateVuex` function, everything is normal。

but after  calling `updateVuex`function, then  I call the `add` function to change `count` variable, the vuex variable is changed synchronously.

[code]

[code]

[2020-05-21 07:51] #1759 closed

[2020-05-21 08:14] yeyaolong opened #1760 "When the ref variable changes, the vuex variable is changed synchronously"
### Version
4.0.0-beta.2

### Reproduction link
[https://codesandbox.io/s/vue](https://codesandbox.io/s/vue)

### Steps to reproduce
I'm sorry to fill a random link in `Link to minimal reproduction` , because I can't access to these pages.

### issue description
 everything is normal until I call `updateVuex()` 。

after calling `updateVuex()` , then I call the `add()` to change variable `count`, t

[2020-05-21 08:21] yeyaolong commented on #1760
my project is created by @vue/cli 4.3.1

[2020-05-21 10:40] yeyaolong commented on #1760
I've found the problem.
[code]
the `count` is an Object, not a `value`.
so change the code like this
[code]

[2020-05-21 10:40] #1760 closed

[2020-05-24 14:52] evgeniyPP opened #1762 "Auto-creating getters & actions"
### What problem does this feature solve?
A popular practice is to create getters for each value in the state, and actions for each mutation. This eliminates the confusion in the components. Now you can use only mapGetters for properties, and mapActions & dispatch for methods.

However, this makes the store very verbose. You need to create useless getters and actions that simply return a value fro

[2020-05-26 12:09] vks-financial-com commented on #1479
I have a similar, but somewhat deviating issue:
I have a "nested" module, in this module I register submodules. Everytime I register a submodule, the ones already available (siblings) get state reactivity triggered:
https://codesandbox.io/s/vuex-dynamic-module-re-render-kju2b
How does one avoid that?

[2020-05-26 17:57] paleo opened #1763 "Proposal for Vuex 5"
### What problem does this feature solve?

1. It would be convenient if, from the outside, the difference between getters and state's properties were not visible. Getters should act as state properties in the same way that views act as read-only tables in RDBMS.
2. It would be nice if part of a store, including a state and its mutations, could be provided to components as a standalone object, in t

[2020-05-27 14:13] uroybd opened #1764 "mapXXX functions with Vue 3"
How to use mapXXX functions with Vue 3? I've tried but failed.

[2020-05-27 14:13] #1764 closed

[2020-05-28 08:05] kiaking commented on #1762
Thanks for the proposal! I see your point, though I think this is a bit too complicated to be in the core functionality. Maybe it would be nice to have such a plugin though.

My opinion is that you could just use `mapState` and `mapMutations` in this case. There's nothing wrong with referencing state directly, or committing mutation without bypassing actions.

When you need getters and actions, it

[2020-05-28 08:12] kiaking commented on #1763
Thank you so much for the proposal. We'll definitely reference this one in designing Vuex 5 👍

[2020-05-30 16:05] rfox12 commented on #564
I'll add two additional compelling reasons to keep Vuex in Composition API world:
- Support for Hot module reloading
- The string descriptors can be useful if you need to trigger actions from a server (e.g. sockets)

So in short... I'm keeping Vuex for large projects, but I have an question.  First some background.  To get typescript support today I find it best to `import store from './store';` a

[2020-05-30 20:21] temple commented on #1399
@gaby64  it cannot work because of [this instruction][resetStoreVM], which is called unconditionally when you create an instance of `Store`

[resetStoreVM]: https://github.com/vuejs/vuex/blob/dev/src/store.js#L306

[2020-05-30 20:50] gaby64 commented on #1399
works to access Vue prototype objects

[2020-06-01 00:42] kiaking commented on #564
@rfox12 You should always use `this.$store` if you're doing SSR. Otherwise, it doesn't matter.

The difference with direct import is that when you use `this.$store`, you're using the store instance injected into the Vue instance. When doing SSR, at server side, if you use direct import, the store instance will be shared between the different requests because the store instance becomes a global sin

[2020-06-02 07:21] libbGit commented on #1725
in vuex  4.0.0-beta.2, I don't find useState, just mapState has been given, how do i use mapState it?

[2020-06-02 08:13] libbGit commented on #1725
how do i use mapXXX it?

in the  setup function, i can't get the store state.
`
import { mapState, mapMutations, mapGetters, mapActions } from "vuex";
setup(props, context) {
   let state =  mapState("user",["name"]);
   // state.name is a  mappedState function
}
`

[2020-06-02 08:15] libbGit commented on #1725
how do i use mapXXX?

in the setup function, i can't get the store state.

[code]

[2020-06-02 09:36] zatziky commented on #1013
@webdesignberlin Michael, do you have any idea why so many people disliked your solution? I've tested in a unit test and it looks fine. Not sure about the reactivity though...

[2020-06-02 09:47] kiaking commented on #1013
It's reactivity issue. You can't use `delete` for state properties due to [same reason stated here](https://vuejs.org/v2/guide/reactivity.html#For-Objects). However, you could use `Vue.delete`.

[2020-06-02 09:49] kiaking commented on #1725
You can't use `mapXXX` helpers inside `setup` hook. And `useXXX` helpers are not there too. Please wait until this issue is being tackled! 🙇

[2020-06-02 10:06] libbGit commented on #1725
okay， thx，  Wishing good news will come soon.

[2020-06-02 14:23] vks-financial-com opened #1765 "Reactivity trigger on store.registerModule"
### Version
3.4.0

### Reproduction link
[https://codesandbox.io/s/vuex-dynamic-module-re-render-kju2b](https://codesandbox.io/s/vuex-dynamic-module-re-render-kju2b)

### Steps to reproduce
1. Initialize store
2. Add/register a module "x"
3. Register module "y1" within module "x". Module "y1" should contain a property "z" in its state
4. Create a computed property "c" in the app, which returns an

[2020-06-03 09:40] abellion commented on #1765
Same issue here !

[2020-06-03 19:36] kanteankit opened #1767 "Calls to mutations and actions don't get cancelled when a module is unregistered using `unregisterModule`"
### Version
3.4.0

### Reproduction link
[https://codesandbox.io/s/mutation-call-after-unregistermodule-v4n3z](https://codesandbox.io/s/mutation-call-after-unregistermodule-v4n3z)

### Steps to reproduce
1. Make sure the first page you see is the `Home` page.
2. Click on `Contact` button and immediately click on `Home`
3. Observe the Console.

### What is expected?
No errors. When the module is un

[2020-06-04 17:14] evgeniyPP commented on #1762
amcsi, this is a great comment! I didn’t even think about it. I suggested the above because I wanted to make the code in the components cleaner. But your reason is even more important.

What is the first principle that any programmer is learning? DRY. Don't repeat yourself. Why? Because if you have to change something, you have to do it in a bunch of places, and the larger the application, the mor

[2020-06-05 04:13] imsunhao opened #1769 "typescript enhancement type Store<any>"
### What problem does this feature solve?
when i use vue-property-decorator & vue 2 & typescript, my this.$store always is `Store<any>`，I found a solution

### What does the proposed API look like?
eg:
[code]

[2020-06-05 04:20] imsunhao commented on #1769
#1770 This is my solution

[2020-06-05 04:23] imsunhao commented on #1769
This is an example of a project I provided. [case](https://github.com/imsunhao/student-management-system/tree/feature/vuex-pr)

[2020-06-05 04:28] imsunhao commented on #1769
in this example,  use @types/vuex.d.ts can redefine TStore

[code]

so in src/views/app/index.vue

[code]

[2020-06-05 08:02] evgeniyPP commented on #1762
I started working on a [separate package](https://www.npmjs.com/package/vuex-map). Looks promising.

It would have been really great though to have it in the core, just as a couple of new helper functions.

I started with it. So far I have created a replacement only for mapState & mapGetters (called mapData). It took only about 50 lines in src/helpers.js.

[2020-06-05 08:13] amcsi commented on #1762
@evgeniyPP great, let me know when you create a public repo.

[2020-06-05 15:13] evgeniyPP commented on #1762
The package is ready to use. It remains to write tests. [Link to GitHub](https://github.com/evgeniyPP/vuex-map).

[2020-06-08 08:46] kiaking commented on #1765
Yes, this is expected behavior for now. Please see [this comment](https://github.com/vuejs/vuex/issues/1593#issuecomment-578116958).

We should be tackling this issue in Vuex 5! I'll close this issue since it's duplicate of #1593.

[2020-06-08 08:46] #1765 closed

[2020-06-08 09:04] kiaking commented on #1767
OK, this is pretty interesting. Yea, this is expected at the moment since Vuex wouldn't do anything about the cancelation of the logic execution.

However, I think this is very hard to implement in Vuex. While actions could return Promise, I don't think we can "cancel" the promise execution (in terms of JS spec).

I think users have to deal with such a situation on their own. For example, in your

[2020-06-08 09:10] kiaking commented on #1769
Thanks for the report! This is known issue and we've fixed it in Vuex 4. We didn't include this in Vuex 3 because technically, it was a braking change.

With your solution, it wouldn't be a braking change, though I don't think adding a `TStore` type is the cleanest way. Doing so with your project is totally valid 👍 Just I don't think it would be a good fit in the core.

[2020-06-08 09:10] #1769 closed

[2020-06-08 09:18] kiaking commented on #1762
Wonderful job with the package @evgeniyPP 🙌  Yeah I see the benefits from the comment from @amcsi as well. I could be handy. But, I think Vuex core should stay thin and less magical as possible, as Vuex is already a bit magical like you mentioned it deal with string base method call and such. People might get confused if things just get committed when it's not defined.

However, plugins like this

[2020-06-08 09:18] #1762 closed

[2020-06-08 09:48] kanteankit commented on #1767
@kiaking Thanks for replying.

The `setTimeout` was used in the example to just mimic the XHR behaviour. I understand `setTimeout` and XHR requests can be cancelled. But, I am encountering scenarios where user has routed to another page, the XHR requests have been cancelled, but, the calls to mutations (`context.commit`) have still thrown errors.

I'll elaborate some more on the problem I have fac

[2020-06-08 09:51] kiaking commented on #1035
Will be closing the issue due to inactivity. Please feel free to open another issue if anyone think this is still useful 👍

[2020-06-08 09:51] #1035 closed

[2020-06-08 09:59] kiaking commented on #1767
Yeah this is the hard part I guess. One thing I could think is that can't you wait until Promise execution is done before calling `unregisterModule`?

[code]

[2020-06-08 10:45] kanteankit commented on #1767
The purpose here is that when user goes from one page to another, the API calls of the previous page should be cancelled and the Vuex modules should be un-registered. So, if we wait for the promises to resolve, it defeats the whole purpose.
Plus in large apps, we really don't wait for promises to resolve. We call an action and expect the mutation to set data in the store once the XHR is complete.

[2020-06-08 20:52] ElMassimo commented on #1763
References to stores sounds very close to what [`vuex-stores`](https://github.com/ElMassimo/vuex-stores) tries to achieve for the consumer.

I like this proposal, it addresses some of the [current pain points](https://maximomussini.com/posts/vuex-stores/) in Vuex 👍

[2020-06-08 21:00] ElMassimo commented on #1695
Given how little code is required for a wrapper such as [`vuex-stores`](https://maximomussini.com/posts/vuex-stores/), and the fact that importing the store does not work correctly for cases such as SSR, I agree that it's better to leave this in userland until [Vue 5](https://github.com/vuejs/vuex/issues/1763) which might be able to provide useful abstractions that replace namespaces.

[2020-06-09 00:40] kiaking commented on #1767
Yes I mean I thought you could cancel the XHR, but just let whole other things execute till the end (committing and such).

I mean I think you could add `beforeRouteLeave` middleware to handle any "cleanup". So before a user navigate to another page;

1. Cancel XHR request.
2. Wait until all other action execution completes.
3. Unregister Module.

This can be done "after" user have navigated to an

[2020-06-09 00:44] kiaking commented on #1695
Yea I'm keeping this issue open since #1579 is not exactly the same feature, this issue proposes more like `vuex-stores` like feature and I'm thinking it might be worth considering after we implement `useXXX` helpers 👍

[2020-06-09 06:56] kanteankit commented on #1767
Yes, the expectation was that Vuex will cancel action dispatches. XHR requests will obviously have to be cancelled by developers of the app.

I think you understand the problem and my use case well enough. The ball is in your court and I'll leave it up to you guys to decide whether a solution is to be explored or not.

[2020-06-12 02:12] Smilebags commented on #1220
I'm also only experiencing this with mapMutations, all getters and method return values are typed.

[2020-06-12 08:05] wanjiaang commented on #1494
咋操作的啊 hxd

[2020-06-13 22:32] henriquek3 commented on #1399
This works for me:

`window.$_app = this`

[2020-06-16 09:28] willjblair commented on #344
Does your mutation look like this:

`mutation: (state, payload) => {
     state.value = payload
}`

or this:

`mutation(state, payload) {
     state.value = payload
}`

The binding of 'this' is different for arrow functions. If yours is the former, try changing to the second function type.

[2020-06-16 15:48] namelessb opened #1777 "开发模式下内存上涨严重"
### Version
3.4.0

### Reproduction link
[https://codesandbox.io/s/black-dust-d5jor?file=/src/App.vue](https://codesandbox.io/s/black-dust-d5jor?file=/src/App.vue)

### Steps to reproduce
### ***链接内有截图***
1. 开发环境
  * electron:7.3.0
  * vue:2.6.11
  * @vue/cli:4.3.1
  * vue-cli-plugin-electron-builder:1.4.4

2. 我有一个WebSocket服务, 会不停的向客户端发送数据, 接收到的数据存入store中
开发模式下, 此时内存直线飙升, 短时间内可达到一两个G, 内存快照中占用量最多的是

[2020-06-16 16:01] kiaking commented on #1777
Hi! Thanks for the report. At my environment, I don't see any memory increase to GB size. Is this reproduction link working for you...?

The code looks pretty straight forward, I don't know how it's causing the problem.

[2020-06-17 03:48] ishowman commented on #1763
Vuex won't use ts to rewrite before Vuex 5?

[2020-06-17 03:53] kiaking commented on #1763
@ishowman Correct. We're not planning to rewrite the code base in TS for Vuex 3 or 4.

[2020-06-17 10:04] GMolini opened #1780 "Cannot read property '_modulesNamespaceMap' of undefined"
I have this same issue (but cant comment on it because its been marked as resolved): https://github.com/vuejs/vuex/issues/1330

Im creating my local vue like this:

In a test_main.js file:
[code]

[code]

But it complains that `"TypeError: Cannot read property '_modulesNamespaceMap' of undefined"`

In the other iussue it said that it had been solved in the latest vue-test-utils, but I think Im usi

[2020-06-17 10:04] #1780 closed

[2020-06-17 14:38] tybruffy opened #1781 "Vuex hasModule"
### Version
3.4.0

### Reproduction link
[https://codesandbox.io/s/hasmodule-inconsistent-with-string-x58fh?file=/src/App.vue](https://codesandbox.io/s/hasmodule-inconsistent-with-string-x58fh?file=/src/App.vue)

### Steps to reproduce
Check for the existence of a nested module with a string, vs an array path.

### What is expected?
I would expect checking with a string or an equivalent array to p

[2020-06-18 17:54] tybruffy commented on #1781
Upon further inspection, I see that the same `if (typeof path === 'string') path = [path]` code is used in both registerModule and unregisterModule.  This code looks to be pretty old without any updates in a long time, but on a quick inspection updating it in all three places passes all tests.

I'd be happy to open a PR to update this (with additional tests), either strictly in hasModule or in all

[2020-06-23 03:31] namelessb commented on #1777
找到了内存泄漏的真正原因, 引发问题的是vue-devtools, 不是vuex
https://github.com/vuejs/vue-devtools/issues/210

[2020-06-23 03:39] #1777 closed

[2020-06-23 13:01] hanzlahabib commented on #1399
`this._vm` works for me

[2020-06-24 07:11] kiaking commented on #1781
Thanks for the report! This is intended at the moment. You can't pass single string value for nested module, in that case you must pass an array. It goes same for `registerModule`. If you want register nested module, you should pass `['module', 'nested']` instead of `'module/nested'`.

I remember we had PR to enable this, but actually, the nested state structure and namespace is different thing. T

[2020-06-25 13:46] BlitZz96 commented on #1079
In my use-case, I have 3 different pages that is considered the same category. They are all different types of orders.
I would then like to have them all under a module called `orders`.
Example: `orders/logs`, `orders/list`, `orders/contacts`

I would not like to have the `orders` module registered if a user has not navigated to one of the three pages. Therefore, I would like to dynamically regist

[2020-06-26 08:26] kiaking commented on #1079
I get your point, though I think the behavior should be kept as is due to semantics reasons. The module is really an object tree. It requires to have a parent module, and yeah, maybe we could add an empty module automatically, but that might cause problems when you really need some state to be in the parent module.

For your situation, personally, I would recommend not using an empty module but us

[2020-06-26 09:13] kiaking commented on #1730
OK this is actually fixed at #1729. Forgot to close it.

[2020-06-26 09:13] #1730 closed

[2020-06-28 19:33] BlitZz96 commented on #1079
Thank you for the reply @kiaking, I think a prefix could be a solution indeed! Only downside would be that the vuex dev-tools would be polluted with many nodes due to them not being nested.

[2020-06-29 04:06] shirakagi opened #1785 "Vuex state updated，but the page never change，before data change"
### Version
3.4.0

### Reproduction link
[https://codesandbox.io/s/vuetest-un9jv?file=/src/App.vue](https://codesandbox.io/s/vuetest-un9jv?file=/src/App.vue)

### Steps to reproduce
1.refresh page
2.wait 2000ms  (data changed)
3.change page's data

### What is expected?
vuex state改变时页面数据自动更新

### What is actually happening?
vuex state更新后 页面数据并没有自动更新，
当页面的data更新后 才更新

[2020-06-29 07:33] kiaking commented on #1079
Ah good point. Yeah that's true.

[2020-06-29 07:47] kiaking commented on #1785
@shirakagi It happens because you are adding a new object property `test` which Vue's reactivity doesn't support. You must either predeclare the `test` property like;

[code]

Or, use `Vue.set` method on mutation, or create a new object and assign it:

[code]

[2020-06-29 07:47] #1785 closed

[2020-06-29 15:12] bcronje opened #1787 "Typscript compile error - logger.d.ts missing in NPM package"
### Version
3.5.0

### Reproduction link
[https://jsfiddle.net/chrisvfritz/50wL7mdz/](https://jsfiddle.net/chrisvfritz/50wL7mdz/)

### Steps to reproduce
Create default typescript project:

vue create test

? Please pick a preset: Manually select features
? Check the features needed for your project: Babel, TS, Router, Vuex, Linter
? Use class-style component syntax? No
? Use Babel alongside TypeS

[2020-06-29 15:14] bcronje commented on #1787
Sorry I don't know how to create a repo in JSFiddle for TS project. Basically `logger.d.ts` is missing in the 3.5.0 npm package resulting in TS compile error.

![image](https://user-images.githubusercontent.com/462097/86023320-d1890780-ba2b-11ea-9abb-787d0140ad91.png)

[2020-06-29 15:18] kiaking commented on #1787
Thanks for the report! I've confirmed it. Will make a fix in a moment!

[2020-06-29 15:19] jgerigmeyer opened #1788 ""types/logger.d.ts" file is missing from npm package"
### Version
3.5.0

### Reproduction link
[https://github.com/vuejs/vuex/blob/v3.5.0/package.json#L11-L16](https://github.com/vuejs/vuex/blob/v3.5.0/package.json#L11-L16)

### Steps to reproduce
Run `tsc` or `vue-cli-service build` on repo with Vuex 3.5.0 installed.

### What is expected?
No errors.

### What is actually happening?
[code]

[code]

---
Fix: Add `"types/helpers.d.ts",` to `package.js

[2020-06-29 15:25] kiaking commented on #1788
Thanks for the report! Will close this one due to duplication. The PR #1789 is open so we'll make a new release soon 🙏

[2020-06-29 15:25] #1788 closed

[2020-06-29 15:29] #1787 closed

[2020-06-29 15:50] olamedia opened #1790 "logger.d.ts wrong location"
### Version
3.5.0

### Reproduction link
[https://codesandbox.io/s/solitary-surf-s268j](https://codesandbox.io/s/solitary-surf-s268j)

### Steps to reproduce
1. npm install
2. check vuex/types/index.d.ts

### What is expected?
vuex/types/index.d.ts contains the following line
```import createLogger from "./logger";```
Expected logger.d.ts location is vuex/types

### What is actually happening?
log

[2020-06-29 15:58] kiaking commented on #1790
Thanks for the report! This issue should been solved with 3.5.1, which was released right after 3.5.0 😓

Please feel free to reopen it if you still have the same problem with 3.5.1 👍

[2020-06-29 15:58] #1790 closed

[2020-06-29 16:00] olamedia commented on #1790
Oh... I see it's fixed in 3.5.1
nuxt's template vue-app still uses 3.5.0, that's why I met this problem

[2020-06-29 16:01] kiaking commented on #1790
Ah I see. Thanks for the confirmation. I think it will updated soon at Nuxt side too 👍

[2020-07-03 07:34] mfainza22 opened #1791 "Replacing State using Getters as Default Value also updates the Getters itself."
[code]
I am trying to reset the state by replacing it with getter value. I noticed that the getter value also replicate that changes made from state.
Is this some kind of bug or am I doing it wrong?  I can't find any clearer approach than this that's why I want this be solved.

[2020-07-03 07:34] #1791 closed

[2020-07-03 16:48] mattnathan opened #1792 "Slow registerModule when the module has getters"
### Version
3.5.1

### Reproduction link
[https://jsfiddle.net/qaL8f36y/](https://jsfiddle.net/qaL8f36y/)

### Steps to reproduce
0. Open the link
1. Specify any number > 0 for 'getters'
2. Click Generate Modules
3. Click Generate Modules

I was unable to generate more than about 3000 getters in total before the browser crashed.

Without the link, call Store.registerModule to register 1000s of mod

[2020-07-04 03:17] kiaking commented on #1792
This happens because registering a module forces Vuex to re-evaluate all getters. It's same reason described at [this issue comment](https://github.com/vuejs/vuex/issues/1593#issuecomment-578116958). So every time you add new getters, each registration become slower than before.

Also when you're using Dev Tools, it also dispatch changes in all subscribed watchers to force getter re-evaluation for

[2020-07-04 03:17] #1792 closed

[2020-07-04 08:06] mattnathan commented on #1792
Thank you for the detailed response. It's a shame this isn't something that can easily be fixed, but I understand.

I am a little surprised that this limitation isn't mentioned anywhere in the docs, especially as it's already known.  If I'd read about it there I could have saved myself a lot of time.

[2020-07-06 08:47] kiaking commented on #1792
Good point yeah. I think it's worth mentioning it in the docs 👍

[2020-07-08 08:25] zaffsite opened #1794 "Vuex data remains undefined when called in private/incognito mode"
**Version**
3.1.1

**Steps to reproduce**
Hard to explain and reproduce, only in incognito mode with Firefox 78.0.1, for a few reasons, it doesn't always happen.

**What is expected?**
Data cannot be undefined because a default data has associated them, but remains undefined, or it is a setter problem.

**What is actually happening?**
Some data are and stay undefined.

No problem in normal navigat

[2020-07-08 08:25] #1794 closed

[2020-07-09 09:29] kiaking commented on #1767
Hi, we've discussed internally as well and came to a conclusion that we'll drop this feature request. First of all, there're no definitive ways to cancel the Promise execution in JS, and even if there were, we think it's almost impossible to handle correct canceling at the Vuex side.

These situation needs to be handled by users, since it's too specific to what app their building. For example, in

[2020-07-09 09:29] #1767 closed

[2020-07-09 09:33] kanteankit commented on #1767
Thank you for having a healthy discussion on this. Please keep up the good work you guys have been doing. Cheers!

[2020-07-13 13:40] 3nuc commented on #264
This happened to me because of a circular import.

myfile.ts imported a store instance, but somewhere deep one of the store's submodules imported myfile.ts

Commenting out the line where myfile.ts imports the store fixed the issue

[2020-07-19 00:03] alexsorokoletov commented on #651
Vuex authors, thank you for the library and having that conversation!

Agree with the comments after the thread was closed. This is not just syntactic sugar.
Each commit/mutation does a lot of stuff (somebody mentioned flickering for example). A commit modifies state and the state is then written to local storage. If you use vuex-persistedstate, then also encrypted. Run multiple commits - get mult

[2020-07-20 09:31] xPaw opened #1799 "Component watch "$store.state.xxx" does not work on v4"
### Version
4.0.0-beta.4

### Reproduction link
[https://jsfiddle.net/gbach1eu/](https://jsfiddle.net/gbach1eu/)

### Steps to reproduce

I have code like this:

[code]

And there is a mutation like so:

[code]

Which is triggered with `store.commit("mentions", data);`

### What is expected?
Watch is triggered.

### What is actually happening?
watch for store state change is not triggering. This w

[2020-07-21 17:04] esbol-moldrakhmetov commented on #1118
location.href = '/' maybe?

[2020-07-22 18:58] xPaw commented on #1799
Appears to be related to this? https://github.com/vuejs/vue-next/issues/671#issuecomment-579818159

[2020-07-24 00:55] disovi commented on #524
To workaround this issue for dynamically created modules, when module name is known only at runtime - a nested store can be used:
[code]

[2020-07-26 09:04] mengfei0053 opened #1802 "请删除 vuex/types/vue.d.ts， 让用户自己定义"
因为你这里定义了vue的扩展，用户就无法根据自己的state，进行覆盖。只能在组件中用类型断言，来使用类型。
建议将此文件删除，提示用户，自己定义此扩展。

[2020-07-26 09:04] #1802 closed

[2020-07-28 14:55] baryla commented on #1695
I just published a quick dev.to post about creating a `useStoreModule` composable! If you find this helpful @kiaking, I can create a PR?

Article: https://dev.to/baryla/vue-3-vuex-4-usestoremodule-composable-1e83
Gist: https://gist.github.com/baryla/dab7ebb745623dc70ff2d21f474591a1

[2020-07-30 10:27] matthieusieben opened #1805 "store watch not triggered when depends on unregistered module"
### Version
3.5.1

### Reproduction link
[https://codesandbox.io/s/awesome-wescoff-97l47?file=/src/main.js](https://codesandbox.io/s/awesome-wescoff-97l47?file=/src/main.js)

<details>

<summary>Code</summary>

[code]

</details>

Notice the watcher's callback is not triggered.

The workaround is to register the watcher after the modules (i.e. not through a plugin)

### Steps to reproduce
- Create

[2020-08-02 20:20] DerAlbertCom opened #1807 "useStore() type definition is missing parameter for storeKey."
### Version
4.0.0-beta.4

### Steps to reproduce
In the Vue4 type definition the useStore function is defined as

https://github.com/vuejs/vuex/blob/83bc26fe55417692f386db9b76634eb58794282e/types/index.d.ts#L48

but in the source you can provide a key, to enable more then one store in the application.

https://github.com/vuejs/vuex/blob/83bc26fe55417692f386db9b76634eb58794282e/src/injectKey.js#L5

[2020-08-02 21:51] ssanyal commented on #46
take is use case , where the submit cart action creates an order through a rest service which generates the unique order id. the response from the backend service can be added to the state through the mutation , however how will the component get the order id (yes getter can be used but what if the order is an Array and it contains the previously created orders , the getter should be a lookup by o

[2020-08-03 21:48] euaaaio commented on #1807
PR is already made 🤘🏻

[2020-08-04 07:21] kiaking commented on #1799
Thanks for the report! Seems like Vue 3 docs has dropped this syntax, but not sure if this is still supported or not. Trying to finding it.

The comment you mentioned shouldn't be related since that behavior was changed after that discussion.

[2020-08-04 08:07] kiaking commented on #1805
Interesting use case, but this is not supported indeed. To watch to have an effect, you need to have key defined. In your case, the key is not `undefined`; there is no key in the first place.

We can't really make the whole getters watched, it's like watching entire Vue instance. I would have to suggest you to explicitly call `store.watch` function after registering the module.

[2020-08-04 08:07] #1805 closed

[2020-08-04 08:17] kiaking commented on #1799
@xPaw OK indeed the behavior was changed. You must use `watch` function to do this. So the below should work.

[code]

[2020-08-04 08:17] #1799 closed

[2020-08-04 08:20] xPaw commented on #1799
Yeah that's quite lame. Now I have to manually write these $watch statements (keep track of them, and then unwatch in destroyed?).

[2020-08-04 08:23] kiaking commented on #1799
Well, yeah, the unwatching part is bit of work but watching part isn't that different I guess. Not much we can do as a Vuex side, since this is Vue's behavior change 🙏

[2020-08-04 08:25] xPaw commented on #1799
Do you have a link to any discussion or rfc on this? I couldn't find anything besides the 1 comment I linked above.

[2020-08-04 08:31] kiaking commented on #1799
Sorry I couldn't find it either. But there is a statement at Vue 3 docs.

https://v3.vuejs.org/guide/migration/introduction.html#breaking

[2020-08-04 09:44] matthieusieben commented on #1805
What bothers me here is that the watcher **does** work and **is** reactive when the store is _not_ pre populated, but **does not** work when the store _is_ pre populated (ssr).

[2020-08-04 09:45] matthieusieben commented on #1805
You can play with the following lines of code to see what I mean:
[code]

[2020-08-05 04:22] code-manito opened #1808 "vuex 在嵌套iframe 数据更新失败"
vuex 在嵌套iframe 数据更新失败

[2020-08-05 04:22] #1808 closed

[2020-08-05 08:14] kiaking commented on #1805
Oh I see, yeah well that makes more sense. Sorry for my misunderstanding. Though, it's because when the state is hydrated, nothing is really changing, hence watch doesn't fire. So again, there's not much we can do here.

Basically, watch was intended to actually watch the current state, and fire things up when ever it changes. This could be one of the downside having dynamic module registration 🤔

[2020-08-05 17:40] nicolasvalde commented on #455
Awesome, worked perfectly, thank you very much

[2020-08-06 16:32] ruut1234 commented on #133
open file package.json and change package name

[2020-08-07 19:45] Teebo commented on #564
I'm guessing this is not solved yet?

[2020-08-07 21:35] MikeMitterer commented on #564
@Teebo Here is my solution: https://github.com/MikeMitterer/vue-ts-starter/tree/master/src/store
+ https://github.com/MikeMitterer/vue-ts-starter/blob/master/src/views/Home.vue
Works with interfaces, no direct import...

[2020-08-08 07:51] Teebo commented on #564
@MikeMitterer thank you so much, I will go through the repo to understand the setup, but from a glance, it looks good, thank you!

[2020-08-08 18:12] Teebo commented on #564
@MikeMitterer, in the file https://github.com/MikeMitterer/vue-ts-starter/blob/master/src/store/utils/index.ts
The `isNotRegistered` func:
Is the check mainly for checking if the child store module is registered or it also checks the existence of the RootStore and if it has a state?
I am just wondering if the built-in `hasModule` could be used.

I see that in the actions return promises in the cou

[2020-08-09 19:07] TatsuUkraine commented on #1544
@LinusBorg Flutter not just about native android, it's a cross-platform tool, which means it for Android, iOS, web, desktop etc. based on the single code base which is written with Dart

[2020-08-10 14:18] ppzzppz commented on #416
code asfffffffffffff

[2020-08-10 14:19] ppzzppz commented on #416
code as satan asfffffffffffff

[2020-08-11 16:11] bitquality opened #1812 "vuex mapstate shows only the latest new value"
I have a mapstate which i am using to map vuex store changes for a particular module.following is the code for the same.

				 computed: mapState('myStore1', {
					newMessageReceived: state => state['newmessage'],
				  }),

				  watch: {
					newMessageReceived(newVal, oldValue) {
					  //newValue and oldValue are populated
					}
				  }

Somewhere in other components i push some messages:

[2020-08-11 16:11] #1812 closed

[2020-08-11 16:17] bitquality opened #1813 "vuex mapstate shows only the latest new value"
### Version
4.0.0-beta.4

### Reproduction link
[https://new-issue.vuejs.org/?repo=vuejs/vuex](https://new-issue.vuejs.org/?repo=vuejs/vuex)

### Steps to reproduce
I have a mapstate which i am using to map vuex store changes for a particular variable 'newmessage' state change.following is the code for the same.

				 computed: mapState('myStore1', {
					newMessageReceived: state => state['newmes

[2020-08-14 12:22] jappyjan opened #1815 "dispatch not returning a promise (?)"
### Version
3.5.1

### Reproduction link
[https://sentry.io/share/issue/a2b85fb22b50486db8dc0eaa197a8679/](https://sentry.io/share/issue/a2b85fb22b50486db8dc0eaa197a8679/)

### Steps to reproduce
dispatch an action

### What is expected?
the action should return a Promise with catch, then and finally props.

### What is actually happening?
calling .finally on the promise ends in an erorr being thr

[2020-08-15 19:54] xiaoyongchen opened #1816 "vue3.0 添加了vuex插件，在组件中能拿到store中的值，但是不能更新state中的值"
### Version
4.0.0-beta.4

### Reproduction link
[https://baidu.com](https://baidu.com)

没有上传所以写了一个

### Steps to reproduce
1.createApp(App).use(store) .use(router).mount("#app");
2.const  {ctx} : any = getCurrentInstance();
            const state = reactive({
                searchValue: '11',
                token: ctx.$store.state.token
            });
3.const userLogin = (payload: string) => {

[2020-08-16 13:33] F0rsaken commented on #1695
@baryla love this idea! it fits smoothly in new flow with `setup` function and gave me some cool ideas ;)

[2020-08-20 06:54] mccxiv commented on #1357
For anyone reaching from search engines: it is released as of 3.5.1 (probably earlier)

[2020-08-24 18:41] RandomErrorMessage commented on #564
Been subscribed to this issue for like 2 years, the absolute state of webdev. Glad I dropped this stuff, yikes.

[2020-08-27 10:53] lil5 opened #1820 "Move project to typescript (not just add a definition file)"
### What problem does this feature solve?
Any overlooked type errors in the current project

The internet is full of reasons to move to typescript.

### What does the proposed API look like?
Moving all *.js files to *.ts
And adding a tsconfig.json file to build the js files

[2020-08-27 10:56] pikax commented on #1820
Check [v4 branch](https://github.com/vuejs/vuex/tree/4.0).

[2020-08-27 10:58] lil5 commented on #1820
@pikax A quick look at the src directory in branch shows .js files
https://github.com/vuejs/vuex/tree/4.0/src

[2020-08-27 11:02] pikax commented on #1820
My mistake.

Renaming the files to `.ts` is not a good solution.

[2020-08-27 11:13] lil5 commented on #1820
@pikax how so?

[2020-08-28 12:02] kiaking commented on #1815
Hi thanks for the report! Is it possible for you to create the repro for this one?

[2020-08-28 12:08] kiaking commented on #1820
We're planning to do it in Vuex 5! Currently, just changing Vuex 4's `.js` to `.ts` file will not improve any typings so I believe it's not worth it. Vuex 5 will still take some more time but stay tuned 👍

[2020-08-28 12:08] #1820 closed

[2020-08-31 02:57] Fuzzyma opened #1822 "mapGetters use "this" in unbound function definition"
### Version
4.0.0-beta.4

### Reproduction link
[https://github.com/vuejs/vuex/blob/83bc26fe55417692f386db9b76634eb58794282e/src/helpers.js#L81](https://github.com/vuejs/vuex/blob/83bc26fe55417692f386db9b76634eb58794282e/src/helpers.js#L81)

### Steps to reproduce
The code uses `this` in the specified line and in next lines in a classic function definition and is therefore not what is expected her

[2020-08-31 03:44] Fuzzyma opened #1823 "Getters are re-evaluated on every access"
### Version
4.0.0-beta.4

### Reproduction link
[https://codesandbox.io/s/hopeful-sanne-kv7r2?file=/src/main.js](https://codesandbox.io/s/hopeful-sanne-kv7r2?file=/src/main.js)

### Steps to reproduce
Open the link and open your console to see "recomputed getter" every second

### What is expected?
"recomputed getter" should print once and never again

### What is actually happening?
It prints eve

[2020-08-31 09:47] kiaking commented on #1822
Yes, this is expected, `mapXXX` helpers does not work in `setup` hook, and we're planning to implement `useXXX` helpers for the `setup` hook 👍 I'll be closing this one since we have an issue for that already.

[2020-08-31 09:47] #1822 closed

[2020-08-31 10:28] Fuzzyma commented on #1822
@kiaking this is not about the setup function. This method won't work in other contexts, too. Simply because `this` will never pint to the right object like this

[2020-08-31 11:27] kiaking commented on #1822
Not sure what is happening here, the line was there 4 years ago and never changed since. Could you create reproduction code that illustrate the problem you're having?

[2020-08-31 11:27] cuebit commented on #1822
The mapXXX helpers are composable functions bound to a Vue instance. Since a store binding exists in a Vue instance, `this` context makes absolute sense.

Your expectation is that the helpers allow mapping from a store instance, which is not the case and not the intended behaviour.

[code]

[2020-08-31 11:56] cuebit commented on #1822
The `mapXXX` helpers were not designed to receive a context, rather they are to be bound to a Vue instance and receive their context when the instance is created.

Your expectation is the very description of a typical `useXXX` composable which @kiaking acknowledges will be implemented in the near future.

[2020-08-31 13:00] Fuzzyma commented on #1822
Oh yes, I now see it. I indeed was way off here. Shame on me. So, all functions returned by mapGetters are actually bound to the vue instance. That makes total sense. I had a weird brain lag.

So even if this is not intended to do, you technically can do this:

[code]

[2020-08-31 13:02] cuebit commented on #1822
Nailed it 👍

[2020-09-03 09:20] so-diao opened #1824 "Is v3.5.1 incompatible with v3.0.1?"
### Version
3.5.1

### Reproduction link
[https://codepen.io/so-diao/pen/oNxGVvW](https://codepen.io/so-diao/pen/oNxGVvW)

### Steps to reproduce
https://codepen.io/so-diao/pen/oNxGVvW

### What is expected?
-

### What is actually happening?
I modified an old project  `package.json -> vuex: '^3.0.1'` , `npm i` automatically downloaded the latest version (3.5.1) for me, but they are not compatible

[2020-09-04 13:06] PatrykWalach commented on #1725
this is pretty easy to implement, mappedActions have to be bound with $store
[code]
useActions can be created like a so
[code]
and if you use typescript you have to cast all the overloaded types
[code]
the same probably goes for  `mapMutations`

mappedGetters and mappedState in vue 2 work straight up, since `this` in computed is bound to the instance.
[code]
But if it's necessary in vue 3, this ca

[2020-09-07 21:50] Stoom commented on #1725
https://github.com/greenpress/vuex-composition-helpers has a good implementation of this and support for typescript type interfaces

[2020-09-08 11:49] PatrykWalach commented on #1561
You can use `mapActions` to access namespacedDisptach
[code]

[2020-09-08 23:18] shawnwildermuth commented on #1725
The vuex-composition-helpers project only works with Vue 2 as it was said that this is what the API would look like in Vuex 4 but I haven't seen it working.

[2020-09-09 02:44] Stoom commented on #1725
I guess my point was the above examples is still missing type safety.  This is Paramount to preventing bugs around the store.  The library suggested was to demonstrate how you can have type safety...  Better yet is a bird architecture that puts types first from the beginning so some crazy advanced typing isn't required.

[2020-09-09 22:23] shawnwildermuth commented on #1725
Wouldn't an API like this allow for typesafety:

[code]

Maybe it's too verbose.

[2020-09-09 22:27] Stoom commented on #1725
The problem in the current API is vuex is wrapping things.  So you define an action it takes in the action context and the payload.  When you use it you only provide a payload and vuex magically fills in the action context.  Same for getters and the state argument, and mutations and their arguments.

[2020-09-09 22:29] shawnwildermuth commented on #1725
Hmm....so is this an argument against Vuex in general?

[2020-09-09 22:58] Stoom commented on #1725
Kinda yeah, but I don't know a better way of supporting everything.  Wishlist it would be nice to have fully typed `commit` and  `dispatch` functions too.

Maybe having a more direct access to the module and make a module aware of all state, getters, mutations, and actions, as they would be used from a component.  Then we could simply map the module and interact with it like any other class...

[2020-09-09 23:09] shawnwildermuth commented on #1725
If all we're getting is protection against accidental mutation, couldn't we do that with just ref/reactive? Thinking out loud. I really like the simplicity of Vuex and don't think that type safety as as big of an issue for me.

[2020-09-09 23:15] Stoom commented on #1725
Yeah I mean with "hooks" and refs you could mimic vuex.  As for type safety, we've found numerous bugs in or code where one developer assumed the store was one way, or during a refactor changed the interface.

[2020-09-09 23:25] shawnwildermuth commented on #1725
Sure, I get that. I don't mean hooks. I don't quite get useStore except for library code (import store from "@/store" is fine for most cases I think).

[2020-09-10 00:05] miralize commented on #1324
rootDispatch makes so much sense!

[2020-09-10 02:24] Stoom commented on #1725
Possibly things like Nuxt where you don't have direct access to the store? #blackmagic 🤢

[2020-09-10 09:30] petervmeijgaard opened #1826 "Add a useModule composable"
### What problem does this feature solve?
Currently, the only way to use the store using the composition API is by creating a store with `useStore`. Using modules this way, results in messier code than it should be. I would like to introduce a `useModule` hook, which will export `commit`, `dispatch`, `getters` and `state` the same way as `useStore` does.

### What does the proposed API look like?

[2020-09-10 10:03] petervmeijgaard commented on #1826
Oh, I saw that this is basically the same as proposed in https://github.com/vuejs/vuex/issues/1725

[2020-09-10 10:04] petervmeijgaard commented on #1826
And a dupe from https://github.com/vuejs/vuex/issues/1695 as well. Closing this one 😅

[2020-09-10 10:04] #1826 closed

[2020-09-10 10:22] Stoom commented on #1725
This example shows how it's difficult for a developer to keep type safety, vs just having a simple solution without a lot of boilerplate.  Even in commit/dispatch example there's a typing error where userId was typed as a number in the crate, but then a string when declaring the actual function.

[code]

[2020-09-10 10:34] Stoom commented on #1725
Maybe the typing discussion should be moved to a different issue?

[2020-09-10 10:40] vickyksingh opened #1827 "Mutation executing multiple times"
Hi,

I have created local store and registered in my component and it it working fine.

but the problem is when i reload my app and navigate to that component where i register and using local store mutation gets called once. when i navigate back to home page and again navigation to that component mutation executing 4 times.
All the times mutation execution getting increases in format(1x1, 2x2, 3x3

[2020-09-10 10:40] #1827 closed

[2020-09-11 11:34] sodatea commented on #1824
Just a quick note: it's introduced in https://github.com/vuejs/vuex/pull/1740.
The jQuery promise is now wrapped inside a native Promise, whose keys are not enumerable.

I think the current implementation is more accurate because the documentation has always said the `dispatch` method "returns a Promise that resolves all triggered action handlers". https://vuex.vuejs.org/api/#dispatch

You should

[2020-09-12 06:47] andrewvasilchuk commented on #994
Checkout this article [Vuex + TypeScript](https://dev.to/3vilarthas/vuex-typescript-m4j).

[2020-09-13 13:41] Mitch-i opened #1828 "registerModule + unregisterModule + serverPrefetch"

[2020-09-13 13:41] #1828 closed

[2020-09-13 13:48] Mitch-i opened #1829 "registerModule + serverPrefetch + unregisterModule"
### Version
4.0.0-beta.4

### Reproduction link
[https://github.com/Mitch-i/vue-ssr](https://github.com/Mitch-i/vue-ssr)

### Steps to reproduce
Navigate from one to another page.

[code]

Cannot read property 'locale' of undefined

I try different hooks and get different errors.

### What is expected?
can use registered module.

### What is actually happening?

Module is registered after is destr

[2020-09-14 03:26] zhengbaofeng opened #1830 "watch $store vuex actions 参数undefined"
`js
//  js
watch: {
  '$store.state.name' () {
    that.$store.dispatch('funName', { name: '1' }).then((res) => {})
  }
}

//  vuex
actions: {
  funName ({ commit }, prams) {
    //  prams undefined
  }
}
`
I don't know if the grammar is standard

console undefined

[2020-09-14 03:26] #1830 closed

[2020-09-14 08:10] so-diao commented on #1824
It seems to be added by accident.
I see. Thank you @sodatea

[2020-09-14 08:10] #1824 closed

[2020-09-18 09:38] major-mayer commented on #855
Just if anyone comes accross this, to use mapState with non-namespaced Vuex modules you can use the callback variant of mapState:

[code]

Shoutouts to [this](https://stackoverflow.com/a/52343460/10727331) dude here on stackoverflow for his hint 👍

[2020-09-18 17:17] ClickerMonkey opened #1831 "Plans for complete TypeScript support with TS 4.1.0"
### What problem does this feature solve?
With the introduction of inference from template strings in TS 4.1.0 it will finally be possible to make Vuex completely type safe (validating all types, paths for commit/dispatch/modules/getters, etc).

Are there existing plans to add complete type support with the release of Vuex 4?

For reference, I've created the following project:

https://github.com/

[2020-09-18 18:28] devin-huang opened #1832 "when vuex4.0 use modules the commit of mutation was error"
Vuex.createStore({
  modules ： {
     namespaced:true,
     test: state: {
        name: "test",
     },
     mutations: {
        changeTest(state, name ) {
          state.name = name ;
        },
    },
    actions: {
       findTest({commit}) {
         commit('changeTest', 'sss')
       }
     }
  },
});

[2020-09-18 18:28] #1832 closed

[2020-09-18 18:37] devin-huang opened #1833 "how to use modules in vuex4,0"
### Version
4.0.0-beta.4

### Reproduction link
[https://github.com/devin-huang](https://github.com/devin-huang)

### Steps to reproduce
when use vuex3.0 use modules  the commit  of  mutation be success,but vuex4.0 was error

### What is expected?
how to vuex4.0 use modules  the commit  of  mutation

### What is actually happening?
`[vuex] unknown mutation type: **

[2020-09-19 18:59] ikramkhizar commented on #1118
Try that.
setTimeout(()=>
{
       window.location.href = "/";
},3000);

[2020-09-21 15:19] alexccc333 opened #1835 "Modules not working"
Modules namespace not working getters and actions ,but they work state why?

[2020-09-21 15:19] #1835 closed

[2020-09-22 10:24] DeeDab opened #1836 "Error in VuexLogger on splice array"
### Version
4.0.0-beta.4

### Reproduction link
none

### Steps to reproduce
Enable Logger for Vuex (createLogger)

1. Add to store param with an array value (list)
2. Create a mutation to change param above (list.splice(0,1))
3. Call mutation
4. Got error

### What is expected?
No errors

### What is actually happening?
[code]

---
If I disable Logger no errors will

[2020-09-22 13:13] mcrapts commented on #1823
I am also facing this issue. After migrating to Vuex 4.0.0-beta.4 my getters get re-evaluated everytime they are accessed. This has slowed down my application a lot, as my application logic relies on the fact that getters are cached.

[2020-09-26 20:01] ux-engineer commented on #1833
I'd like to add here that it would be great to have official examples for the modules with TypeScript as well.

@kiaking, in your recent conference talks you were showing Vuex shims with State type added... Could please review our working, but not yet fully right typed, example?

I just pieced together a working Github repo with a Codesandbox demonstration from previous examples done by the wider

[2020-09-27 07:08] devin-huang commented on #1833
@ux-engineer  thank you.

[2020-09-28 03:26] zhoufanglu opened #1837 "关于取state里面参数的方式问题"
我看有的项目取vuex内的state的值是用getters取的，请问这种方式正确吗？代码如下
[code]
而我自己取state内的值我会用`this.$state.theme`方式来取，或者用辅助函数

请问哪种方式更好呢？

[2020-09-28 03:26] #1837 closed

[2020-09-30 08:55] khaledosman commented on #802
the other day I ran into an issue where I needed to run a side-effect in my action and I found this very confusing

[code]
the state param was only a reference that is already updated after commit, so what I thought was the oldState was actually the same as the newState

[2020-09-30 15:28] anschwa commented on #1050
I would also like to see this get added to the docs. I opened a PR here: https://github.com/vuejs/vuex/pull/1838

[2020-09-30 17:49] JanDevDE opened #1839 "State changes not being rerendered when updating object"
### Version
3.4.0

### Reproduction link
[https://jsfiddle.net/q32df9tj/45/](https://jsfiddle.net/q32df9tj/45/)

### Steps to reproduce
Overwrite object with new object using state.object = newObject -> No rerender

Overwrite object with state.user = Object.assign({}, user) ->  Should work instead, but doesn't -> That's the issue, why?

Object.assign(state.user, user) <- Works, but should be the s

[2020-10-01 10:54] uncodable opened #1840 "Access store within vue-router"
I want to achieve something this this:
[code]

However I get:
![image](https://user-images.githubusercontent.com/32820112/94800441-7d037880-03dc-11eb-873a-ebfb6c6c22e9.png)

I've tried:
- !!
- (store && store.state.authentication.loggedIn)
- can't inject useStore as this isn't a component and doesn't use the setup() method

My Vuex setup:
store:
[code]

authentication module:
[code]

Any ideas on

[2020-10-01 10:54] #1840 closed

[2020-10-01 10:55] uncodable opened #1841 "Access store within a router (non-component)"
I want to achieve something this this:
[code]

However I get:
![image](https://user-images.githubusercontent.com/32820112/94800441-7d037880-03dc-11eb-873a-ebfb6c6c22e9.png)

I've tried:
- !!
- (store && store.state.authentication.loggedIn)
- can't inject useStore as this isn't a component and doesn't use the setup() method

My Vuex setup:
store:
[code]

authentication module:
[code]

Any ideas on

[2020-10-01 10:55] #1841 closed

[2020-10-01 10:58] uncodable commented on #1841
Was created with issue helper ^

[2020-10-01 19:49] phlegx opened #1842 "On vue-router beforeEach Vuex store lost state after call next()"
### Version
3.5.1

### Reproduction link
no link at the moment.

### Steps to reproduce
1) In the Vue router function `router.beforeEach` I check (with `console.log`) for a store state (e.g. `store.getters['base/getLocale']`). Output: `de`
2) After the check I call `next()`
3) In the loaded component from the new route I re-check `this.$store.getters['base/getLocale']` and I get `en` that is defau

[2020-10-02 07:11] posva commented on #1842
https://new-issue.vuejs.org/?repo=vuejs/vue#why-repro

[2020-10-02 07:11] #1842 closed

[2020-10-02 07:11] posva commented on #1815
Closing due to inactivity. Please open a new issue with a reference to this one if you can follow up with more information.

[2020-10-02 07:11] #1815 closed

[2020-10-02 07:14] posva commented on #1839
See https://github.com/vuejs/vue/issues/11694#issuecomment-701930453

[2020-10-02 07:14] #1839 closed

[2020-10-02 07:17] posva commented on #1836
https://new-issue.vuejs.org/?repo=vuejs/vue#why-repro

[2020-10-02 07:17] #1836 closed

[2020-10-02 14:27] leerw4 opened #1843 "Offer types for `getters` on the Store instance"
### What problem does this feature solve?
The `getters` key of the Store instance has type `any` which is not useful. While type casting can be used, it's just a pain to have to do every single place you would want to reference a getter.

### What does the proposed API look like?
One solution would be to offer a second (optional) generic type of the `Store` type that would default to `any`, and ha

[2020-10-07 14:44] 12120290x1 opened #1844 "vue3 template ref vuex => wrong reactive system"
### Version
3.0.0

### Reproduction link
[https://github.com/12120290x1/error](https://github.com/12120290x1/error)

### Steps to reproduce
step1: click aaaa button
step2: click menu button

### What is expected?
tag nav have fixed-left-0 like this:

[code]

### What is actually happening?
this is actually happening:

[code]

[2020-10-07 14:50] posva commented on #1844
@12120290x1 transferred to the proper repository

[2020-10-08 03:30] RonaldCast commented on #1118
### The method that worked for me was this:

[code]

[2020-10-09 09:36] #1050 closed

[2020-10-09 15:50] cuebit commented on #1844
This is all Vue is aware of during component instantiation:

[code]

Manipulating the classList works but the state is lost because Vue doesn't know about it. This is expected behaviour. If you're managing classes with Vue, you should manage them all through Vue as to track changes.

[code]

[code]

For further questions, please consult the [forum](http://forum.vuejs.org/) or the [Discord chat](ht

[2020-10-09 15:50] #1844 closed

[2020-10-12 11:57] petervmeijgaard commented on #1725
It's been more than a month already. Is there an update on this ticket? I'd really love first-party support for these `useX`-hooks. It'll clean up my project quite some bit.

[2020-10-12 12:12] ux-engineer commented on #1725
I've been following this issue, and as there have been discussion about type-safety with Vuex 4, I'd like to add [my summary of some problem points along with an example repo of how to type Vuex 4 store](https://stackoverflow.com/questions/64080549/using-vuex-4-modules-in-vue-3-with-typescript-and-how-to-fix-cyclical-dependenc)... (Feel free to mark this as off-topic, if so.)

[2020-10-14 12:10] zenHeart opened #1846 "dynamic register same module, will trigger multi times"
### Version
3.5.1

### Reproduction link
[https://codepen.io/zenheart/pen/oNLbvJO](https://codepen.io/zenheart/pen/oNLbvJO)

### Steps to reproduce
see demo <https://codepen.io/zenheart/pen/oNLbvJO>

### What is expected?
Why registerModule  call the same path multi times, will replace old path, but push handle to `_mutations`, see demo <https://codepen.io/zenheart/pen/oNLbvJO>

### What is actual

[2020-10-14 15:12] mannok opened #1847 "Vue 3 markRaw / shallowRef is not working in Vuex"
### Version
4.0.0-beta.4

### Reproduction link
[https://github.com/mannok/vuex-traverse](https://github.com/mannok/vuex-traverse)

### Steps to reproduce
1. clone from minimal reproduction link
2. npm install
3. open App.vue to see code
4. npm run dev
5. Open browser and watch console log
6-a. You will see a log msg `THIS MSG IS SHOWN WHEN IT WAS SET ON STATE!` even I have marked raw to the objec

[2020-10-15 06:37] dlodeprojuicer commented on #1833
Also cant get it to work https://stackoverflow.com/questions/64349235/how-to-use-vuex-modules-in-vue-3

[2020-10-15 07:11] LinusBorg commented on #1847
@mannok

If you feel the need to cross-post issues in multiple repositories, please at least add a not referencing the copy in the other repo.

@kiaking

the watch issue will be discussed in vue-next: https://github.com/vuejs/vue-next/issues/2380

But maybe we should consider here if Vuex 4 should get an additional option to make the publicly exposed `$state actually `readonly()`

That could allow

[2020-10-15 07:59] raghuvarbisht commented on #439
https://stackoverflow.com/questions/58421221/using-a-map-inside-of-vuex-state

[2020-10-16 10:02] lihaotian0607 opened #1848 "Property does not exist on type"
### Version
4.0.0-beta.4

the console can print, but the compilation fails the check!!!

[code]
![image](https://user-images.githubusercontent.com/32523475/96245306-63b01e00-0fd1-11eb-995d-3c9d4ee87b34.png)

![image](https://user-images.githubusercontent.com/32523475/96245145-36637000-0fd1-11eb-82cb-a7ade8cb831c.png)

[2020-10-16 20:04] goeh opened #1849 "Try root module first, then namespaced module"
### What problem does this feature solve?
We're developing modularized application(s) for our customers with separate Vue projects for each module. Each customer have a custom main application with different sub-applications/modules in package.json. Each sub-application have their own namespaced Vuex store. We want to have a default implementation of some actions in the sub-applications, then be a

[2020-10-16 21:48] urbnjamesmi1 opened #1850 "TypeError: Cannot read property 'hasChild' of undefined"
### Version
3.5.1

### Reproduction link
[https://jsfiddle.net/xkLh4njp/](https://jsfiddle.net/xkLh4njp/)

### Steps to reproduce
1. Create a Vuex store.
2. Call store.hasModule() with an array of at least 2 elements where neither module has been registered to the store.

### What is expected?
store.hasModule() to return false

### What is actually happening?
Error "TypeError: Cannot read property

[2020-10-16 22:32] cuebit commented on #1850
Thanks for opening this issue and creating a PR. However, this is expected behaviour at this time.

In the same manner as `registerModule` behaves, where a parent module must be registered before any descendants, the `hasModule` should verify the parent before verifying any descendants.

Negating the return type, when checking for a descendant where a parent module _may_ not exist, implies the par

[2020-10-18 06:50] roborock opened #1852 "Vue Toggle Chaining Request Like Cascading"
### What problem does this feature solve?
I have a issue about toggle

When ı click each plus api generate child data from parent like a cascade dropdown , but ı want to toggle all with a button when i try it my toggle just open two level not effect every levels so

I dont know why its reason

I want to tell how toggle all button works: When i clicked a button first of all first request sending to

[2020-10-18 10:41] kticka commented on #917
Same here. It's okay if you have small SPA or something like that, where you can write everything in "vuex way". But if you want to use vuex just as a part of bigger application, where objects have their own cache mechanisms and so on, you will get tons of errors without ability to exclude those modules from strict mode.

[2020-10-18 13:38] cuebit commented on #1852
https://new-issue.vuejs.org/?repo=vuejs/vue#why-repro

[2020-10-18 13:38] #1852 closed

[2020-10-18 16:29] tuath commented on #1572
At the same time, would be nice if a plugin could create a "pseudo Action" for every mutation by providing some code that runs (async) before and after a mutation.

[2020-10-19 14:02] urbnjamesmi1 commented on #1850
Can the documentation for `hasModule` and `registerModule` at least be updated with this explanation?  Or maybe a custom error can be thrown explaining that a specific parent module doesn't exist.

[2020-10-21 09:51] 1xuanyuan1 opened #1854 "使用mapGetters 类型不识别"
[code]
![image](https://user-images.githubusercontent.com/6700408/96703524-86717680-13c5-11eb-938c-6aadcb7e1c5c.png)
[code]
我想识别mapGetters中的类型，应该是修改第三个参数 也就是 R的位置 把 Computed 改成自己要的类型，但是看不懂怎么操作 求指点

[2020-10-21 09:51] #1854 closed

[2020-10-21 10:35] 1xuanyuan1 opened #1855 "使用mapGetters 类型不识别"
### Version
4.0.0-beta.4

### Reproduction link
[https://github.com/vuejs/vuex/issues/1822](https://github.com/vuejs/vuex/issues/1822)

### Steps to reproduce

### What is expected?
能在vue单页里正确识别 mapGetters中的类型

### What is actually happening?
不能识别

[2020-10-21 11:23] Jokab opened #1856 "dispatch: Enable extending built-in Promise by not wrapping action Promise"
### What problem does this feature solve?
At the moment it does not seem to be possible for an action to return a custom promise class, due to [`dispatch` creating its own Promise, using the built-in Promise](https://github.com/vuejs/vuex/blob/dev/src/store.js#L152).

This fact makes it seemingly impossible to fully use Vuex in use cases where it's necessary to cancel an ongoing promise. This woul

[2020-10-21 17:00] dlodeprojuicer commented on #1833
This [answer](https://stackoverflow.com/a/64372520/616221) worked for me. Change `import * as types from './mutation-type'` to `import types from './mutation-type'`

[2020-10-22 10:28] cuebit commented on #1850
For sure, this is an opportunity to offer clarity in the docs. I don't think throwing errors are a useful way to identify this concern, since the `hasChild` method naming is self explanatory in the error thrown when a child module cannot be reached.

[2020-10-23 07:28] uinio commented on #1725
Simple implementation reference：https://github.com/uinio/vue-store

[2020-10-23 08:08] araeuchle commented on #1544
i would also love to see a vuex for flutter :) as i dont like redux :D

[2020-10-23 11:23] ThaDaVos commented on #1258
Two years later and no updates on this?

[2020-10-25 05:24] narkissbv commented on #409
This worked for me, but why isn't `$store` already registered when I'm including the store in he `Vue` object?

[2020-10-26 22:12] soerenmartius commented on #1833
I've posted a working, fully-typed example here: https://gist.github.com/soerenmartius/ad62ad59b991c99983a4e495bf6acb04

[2020-10-27 16:08] jechazelle opened #1861 "Update object in v-for from computed and view reactivity"
I would like to know how can I develop a reactivity computed when I update a value in v-for from computed.

When I modified the Input in the child component, the view isn't rendering. In vuex, the state is updated, but not the view.

[![enter image description here][1]][1]

 - First Hello : data.content (props from parent)
 - Second hello : currentPost.content (computed on child)
 - Third hello :

[2020-10-27 16:08] #1861 closed

[2020-10-28 06:12] huhm opened #1862 "typescript declaration for vuex"
I want to override the typescript declaration,but it throws errors, because the file(``vuex/types/vue.d.ts``) has defined.
Is there any solution ?
shim-vue.d.ts
[code]

it throws an Error:
[code]

[2020-10-28 06:12] #1862 closed

[2020-10-28 06:13] huhm commented on #1862
The vuex types has no IntelliSense for the state/getters

[2020-10-28 06:17] huhm opened #1863 "typescript declaration for vuex"
### What problem does this feature solve?
I want to override the typescript declaration,but it throws errors, because the file(``vuex/types/vue.d.ts``) has defined.
Is there any solution ?
shim-vue.d.ts
[code]

it throws an Error:
[code]

### What does the proposed API look like?
==

[2020-10-28 06:19] #1863 closed

[2020-10-29 16:59] StephenBeirlaen opened #1864 "Devtools time travel always shows the most recent state (without new Vuex backend)"
### Version
3.5.1

### Reproduction link
[https://github.com/StephenBeirlaen/vuex-base-state-issue](https://github.com/StephenBeirlaen/vuex-base-state-issue)

### Steps to reproduce
- Install a fresh vue install via the latest Vue CLI but custom build (I just used Vue 2.x and Vuex selected)
- add in a simple state in the vuex store (int: 0)
- add in a simple commit (updateInt(state) {state.int = 1

[2020-10-29 20:12] xorinzor commented on #1592
it took me nearly a day to figure this out. Why is this still not a thing? At the very least throw an error in the console that the state couldn't be found.

[2020-10-30 10:20] kiaking commented on #1807
Closing due to the PR is already merged!

[2020-10-30 10:20] #1807 closed

[2020-10-30 10:30] #1823 closed

[2020-10-30 10:39] kiaking commented on #1847
Interesting topic. Definitely we should discuss about it. Since Vuex 4 uses Vue's new reactivity system under the hood, maybe it might open up lot's of new possibility.

Though I think we could discuss this issue as feature request after releasing Vuex 4.

[2020-11-01 06:46] donPuerto opened #1865 "How to modulize typescript in v4"
I just check v4 docs, i could not able to find the module example? can you lead me the way?

[2020-11-01 06:46] #1865 closed

[2020-11-01 13:26] liRemons opened #1866 "Vue3.0 如何在 setup 中使用 mapGetter"

[2020-11-01 13:26] #1866 closed

[2020-11-01 13:29] liRemons opened #1867 "Vue3.0 如何在 setup 中使用 mapGetter"
import { mapGetters ,useStore } from "vuex";

[2020-11-01 13:29] #1867 closed

[2020-11-03 01:13] refayathaque commented on #1500
Is there a way to access getters from both the root state and a namespaced module? Below, `getAuthStatus` is a getter in the root state, and I'm wondering if I can access both root and the namespaced module getters in one `...mapGetters` call

[code]

[2020-11-03 01:31] cuebit commented on #1500
@refayathaque yes, with a level of verbosity:

[code]

[2020-11-03 01:34] cuebit commented on #1500
@refayathaque yes, with a level of verbosity:

[code]

[2020-11-03 02:11] refayathaque commented on #1500
Thank you @cuebit !

[2020-11-05 07:42] kiaking commented on #1813
Please provide a valid reproduction link! 🙏

[2020-11-05 07:42] #1813 closed

[2020-11-05 07:47] kiaking commented on #1829
Please provide a valid reproduction. You're using Vue 2 and Vuex 3 but this issue seems targeting Vuex 4.

[2020-11-05 07:47] #1829 closed

[2020-11-05 07:50] kiaking commented on #1831
Yes! We're aware of TS 4.1 and this might work. To be honest I was thinking to focus TS on Vuex 5 but this kinda did change things 😅

Let's come back to this issue once TS 4.1 is released, and see how it goes. PR is welcome too! I think there's no harm trying out this feature 👍

[2020-11-05 07:53] kiaking commented on #1843
Thanks for the feedback! I think we should come back to the typings once TS 4.1 is out. It might change quite a bit (in a good way). See #1831 for more details.

[2020-11-05 07:53] #1843 closed

[2020-11-05 08:02] kiaking commented on #1846
Oh thanks for the report. Good catch. I think this is not intended, but might be hard to solve...

When registering the same module twice, we can't be sure if it's really the same module. An user might be registering different module with the same name.

Either way, should we call `unregisterModule` before registering any module if it has the same name...? I think that might be what people wants.

[2020-11-05 08:06] kiaking commented on #1848
Please provide a valid reproduction. And also, it might be an issue with class component? Either way, we need to repro to look into it.

[2020-11-05 08:06] #1848 closed

[2020-11-05 08:16] kiaking commented on #1849
I think this feature is bit too off to be included in the core. I don't think this use case is quite usual.

I think you can create a plugin to do this, by adding something like `dispatchIf` method. By combining `hadModule` method, you can also suppress warning in dev mode. It might look something like this?

[code]

Not sure if the above would work, but I think you'll get the idea.

Maybe someone

[2020-11-05 08:16] #1849 closed

[2020-11-05 08:53] #1850 closed

[2020-11-05 08:57] goeh commented on #1849
Is there a way (will there be a way) to replace the `dispatch` function with our own implementation? Because we don't want to call `dispatchIf` in every component.

[2020-11-05 09:13] kiaking commented on #1849
No I don't think there's an easy way to do that. But when you extend some feature, I think you shouldn't have the same name. I mean, what if you want to call plain `dispatch` right?

If you're calling only `dispatch`, I think it would be easy to just update all `dispatch` call to `dispatchIf`. Either way, you need to adjust the arguments I think, so you need to rewrite dispatch calls anyway.

[2020-11-05 09:15] kiaking commented on #1855
Please provide a valid reproduction code 🙏

[2020-11-05 09:15] #1855 closed

[2020-11-05 09:53] goeh commented on #1849
Ok, thanks. We need to re-think some architecture decisions. But that's good. No worries. Keep up the good work! 👍

[2020-11-10 10:43] yaquawa commented on #1833
I hope there is an easier way to do this.

[2020-11-10 12:43] soerenmartius commented on #1833
Not sure about it. We might need to wait for Vuex5 to be released, since the maintainers mentioned already that they ["aren't planning to rewrite the code base in TS for Vuex 3 or 4"](https://github.com/vuejs/vuex/issues/1763)

[2020-11-10 23:55] uncodable commented on #1842
@phlegx Did you find anything on this, i'm running into the same issue now.

[2020-11-10 23:57] phlegx commented on #1842
@uncodable no sry.

[2020-11-11 00:00] uncodable commented on #1842
@phlegx If I access the state directly it works; just not with a getter which is weird, as this was working like two weeks ago.

Vuex getter (module):
[code]

Vue router:
[code]

@posva Can you re-open this issue? The new issue bot just auto closes with things created from that link.

[2020-11-11 00:05] cuebit commented on #1842
It's impossible to offer assistance without a reproduction. At the beefy least, try to replicate the issue in a barebone app. If you can't reproduce it, there is a side effect in your app that only you can debug. Or provide a repo link and maybe someone can find time to look into it.

[2020-11-11 00:51] bekwam commented on #1842
Also, what's described here as "working" is not the same as the getter code.

[2020-11-11 01:09] cuebit commented on #1842
@bekwam it's valid. What makes the state lookup indifferent to the computed getter?

[2020-11-11 01:11] cuebit commented on #1842
@uncodable is your module namespaced?

[2020-11-11 01:15] uncodable commented on #1842
Hey,

I did manage to replicate the issue. Might be able to upload tomorrow night when I'm back on my machine.

I have a namespace, it sets the login via an action, it then commits to a mutator of then which changes the state to true. The example was showing I could access the state directly to get the result of true. However when used in beforeEach on the vue router (next) it cannot access the ge

[2020-11-12 13:37] yaquawa opened #1870 "How to create on-reactive item in the store?"
### Version
v4.0.0-rc.1

All item in the store are be converted into Proxy.
But the proxy object won't forward method call to the original one.
I want to add an object as a on-reactive item so that I can call the methods on the object.
Or is there any way to access the original object from the proxy object?

[2020-11-13 08:23] yaquawa opened #1871 "match getter signature to actions"
### Version
v4.0.0-rc.1

The current signature of getter
[code]

if I want to use `rootState` and `state` only, I have to write the `getters` in the 2nd parameter even if I'll never use it.
[code]

I think this is better, just like the signature of action handlers.
[code]

[2020-11-16 09:34] ShenQingchuan opened #1873 "How to access Vuex store in VueRouter.beforeEach in TypeScript?"
### What problem does this feature solve?
I want to set a guard in VueRouter.beforeEach(), it will redirect to the login page when the `loggedIn` state is `false`.

### What does the proposed API look like?
I want to achieve something this this:

[code]

[2020-11-16 10:42] ShenQingchuan commented on #1873
just similar to https://github.com/vuejs/vuex/issues/1841 , and that issue hang on for a long while...

[2020-11-16 11:15] kiaking commented on #1870
Could you elaborate a bit more on this? What do you mean by "I want to add an object as a on-reactive item so that I can call the methods on the object."?

[2020-11-16 11:23] kiaking commented on #1873
Sorry what problem are you having at the moment? Are you getting `Object is possibly null` error? Either way, please provide reproduction code so that we can test this 🙏  Not just this single file, but we need whole project.

[2020-11-16 11:26] kiaking commented on #1871
We did had similar issue before (I don't remember where). However, we are keeping this signature in Vuex 4 to keep it compatible with Vuex 3. We're planning to publish Vuex 5 RFC soon so let's discuss it there if we have to 👍

[2020-11-16 11:26] #1871 closed

[2020-11-16 20:46] jmcooper opened #1874 "Documentation Clarity for Getters in Vuex Modules"
### Version
4.0.0-rc.1

### Reproduction link
[https://vuex.vuejs.org/guide/modules.html#namespacing](https://vuex.vuejs.org/guide/modules.html#namespacing)

### Steps to reproduce
This is a problem with the documentation.

### What is expected?
Greater clarity on getters in Vuex modules

### What is actually happening?
In the namespacing section there is this explanation for why getters, actions

[2020-11-17 03:40] Wancy-yule commented on #643
111

[2020-11-17 07:48] leeboo opened #1875 "vue 3.0, vuex 4.0 能否动采用数组语法动态的给state设置，比如state[name] = value"
目前会报警告：Write operation failed: computed value is readonly
但赋值是成功了的
有什么影响，能否消除这个警告

[2020-11-17 07:48] #1875 closed

[2020-11-17 08:00] kiaking commented on #1874
Good catch. Thanks for the feed back!

I think why getters are still registered globally is coming from historical reason, where when first we introduced modules, we believe we didn't had name spacing feature. So, we had to keep it global to avoid breaking changes.

How about we alter the text to:

---
By default, actions, mutations and getters inside modules are still registered under the **globa

[2020-11-17 08:08] kiaking commented on #1864
@StephenBeirlaen Thanks for the feedback! Could you clean your repo a bit more? I can't find `state.int` you are mentioning. I'm not sure what I'm looking for here 😳

[2020-11-17 08:15] kiaking commented on #1856
Thanks for the feedback! Interesting one. Maybe as you mentioned we should just return the exact same promise that is being returned from actions... though not sure what kind of impact we would have in terms of breaking changes. Need to look into it.

[2020-11-17 09:04] StephenBeirlaen commented on #1864
Thanks for taking a look. There were actually two different reproduction cases, one in the repo and some from-scratch instructions. To remove some confusion I have simplified the repo, it now uses the simpler int example.

[2020-11-17 09:53] Jokab commented on #1856
Thanks for responding! It would be greatly appreciated, though I understand it won't happen in the near future.

[2020-11-17 11:40] kiaking commented on #1856
Yeah, it would be helpful if anyone can look into this issue and check for the impact. If we can believe it's safe, I don't have any reason to reject the proposal 👍

[2020-11-17 16:23] jmcooper commented on #1874
Hmm, having getters in that first sentence still feels troublesome. I'm also wondering if we could answer the question of "why" getters are global by default, or at least explain that it has no use, without making it feel too unprofessional. What about something like this:

---

By default, actions and mutations are still registered under the global namespace - this allows multiple modules to reac

[2020-11-18 02:46] #1873 closed

[2020-11-18 11:25] jouni-kantola commented on #1843
For codebases that use Options API it'd be nice to expose type parameters for getters, as it enables getter typings in components.

Currently, in `vue-shim.d.ts` we can expose the store to components with `typeof`, but that still leaves getters as  `any`.

[2020-11-19 01:54] jessuni opened #1876 "Documentation style bug"
### Version
4.0.0-rc.1

### Reproduction link
[https://next.vuex.vuejs.org/#what-is-a-state-management-pattern](https://next.vuex.vuejs.org/#what-is-a-state-management-pattern)

### Steps to reproduce
Shrink viewport to less than 959px wide, there's an additional `margin-left` that squeezes the docs to the right and leave a blank block in the center. Same for viewport-width <= 719px, the left padd

[2020-11-19 02:56] kiaking commented on #1876
Thanks for the report! This was fixed in VitePress 0.7.4 and we just need to update the package. But, I'm planning to release 0.7.5 soon so I'll update as soon as 0.7.5 is out 👍

[2020-11-19 10:22] jaoord opened #1877 "Which version of vuex should I use directly in the browser?"
### Version
4.0.0-beta.2

### Reproduction link
[https://jsfiddle.net/tda81ybc/](https://jsfiddle.net/tda81ybc/)

### Steps to reproduce
html:
`<script src="https://unpkg.com/vue@3.0.2/dist/vue.global.js"></script>
<script src="https://unpkg.com/vuex@3.5.1/dist/vuex.global.js"></script>
<div id="app">
  <p>{{ message }}</p>
</div>
`

js:
`
const store = new Vuex.Store({
    state: function() {

[2020-11-19 10:36] kiaking commented on #1877
You need to use Vuex 4 with Vue 3.

[code]

[2020-11-19 10:36] #1877 closed

[2020-11-19 12:25] Fifciu commented on #1572
Currently, we need this proposal in our project. With that, we could load the required Vuex module only when the user uses action from it - which would give as huge performance benefits.

[2020-11-20 02:19] jessuni commented on #1876
That would be great. Thanks!

[2020-11-20 15:22] musashiM82 opened #1878 "lost previous registered module during multiple registration"
### Version
4.0.0-rc.1

### Reproduction link
[https://github.com/musashiM82/register-module-in-before-create-page](https://github.com/musashiM82/register-module-in-before-create-page)

### Steps to reproduce
* clone repo
* execute `npm i && npm run serve`
* open web app in browser
* in "Home" page you can see "state.home.count 1"
* click on "About" link
* click on "Home" link
* in "Home" page you

[2020-11-20 15:29] musashiM82 opened #1879 "try to add registerModule in router beforeEach"
### Version
4.0.0-rc.1

### Reproduction link
[https://github.com/musashiM82/register-module-in-router](https://github.com/musashiM82/register-module-in-router)

### Steps to reproduce
* clone repo
* execute `npm i && npm run serve`
* open web app in browser
* check console error ` [vuex] module namespace not found in mapGetters(): home/`
* click on About link
* check console error ` [vuex] module

[2020-11-20 16:33] cuebit commented on #1879
When dynamically loading modules, remember they are resolved as the namespaced object. You still need to read the default module...

[code]

Please visit the [Forum](https://forum.vuejs.org) or [Discord](https://chat.vuejs.org) if you have further questions. Otherwise feel free to open a new issue if you discover a bug.

[2020-11-20 16:33] #1879 closed

[2020-11-22 07:54] kiaking commented on #1876
This is fixed 👍

[2020-11-22 07:54] #1876 closed

[2020-11-22 09:07] weishijun14 opened #1881 "memory leak with socket.io and vue devtools"
### Version
vuex 4.0.0-beta.4
vue 3.0.0
socket.io 2.3.1

### Reproduction link

**no links**

### Steps to reproduce
I'm use socket.io , and I have a big Json data, more than 100kb per 3 second,
[code]

### What is expected?
Chrome momery keep normal.

### What is actually happening?
Chrome momery usage keep increasing.

---
When I **comment this code** :
[code]

or **uninstall Chrome vue devtool*

[2020-11-22 14:15] kiaking commented on #1878
Confirmed. This is happening due to caching issue. If we revert 0006765 it fixes. I think registering new getters is causing some kind of problem. Not sure what that is yet.

I'll look into it.

[2020-11-22 18:12] kiaking commented on #1878
OK, this is happening because Vue is destroying the `computed` (Vuex getters) when the component is destroyed (switching the route). Not because of multiple module registration.

We might not have perfect solution until https://github.com/vuejs/rfcs/pull/212 gets merged and issue https://github.com/vuejs/vue-next/issues/1532 gets solved.

Looking into any workaround we could have.

[2020-11-22 18:19] kiaking commented on #1878
I've opened #1883 with the failing test case.

[2020-11-23 03:17] kiaking commented on #1870
Closing due to inactivity. Please feel free to open another issue if you have anything!

[2020-11-23 03:17] #1870 closed

[2020-11-23 03:50] yaquawa commented on #1870
Suppose you want to save an instance of Appolo Client.
If I call a method on the Appolo Client from vuex's store, which means calling a method on the Proxy object for the Appolo Client, if the method changes some property of Appolo Client, that will cause unneeded update on the vue instance.

[2020-11-23 03:56] kiaking commented on #1870
Yes... but that's what expected isn't it? You're saving Apollo Client to the Vuex state. So anytime the property of Apollo Client gets modified, it should update the Vue instance because maybe some part of your app might be referencing that property.

But also it's bad idea in terms of that probably that mutations occur outside of mutation hanlder, so you shouldn't be modifying the Vuex state that

[2020-11-23 11:53] musashiM82 commented on #1879
thanks

[2020-11-23 12:15] stepanjakl commented on #673
Is there any global Vuex error handler? (such as `Vue.config.errorHandler = (error, vm, info) ...` for Vue)

[2020-11-25 08:27] maartenvanasperen opened #1888 "add config to index types, this.$config from Nuxt is not recognised in the store (typescript)."
### What problem does this feature solve?
In Vuex the config values from Nuxt are not recognised in Typescript: https://nuxtjs.org/blog/moving-from-nuxtjs-dotenv-to-runtime-config#using-your-config-values. So this.$config is available in the Vuex store and I can access the values, but it says property '$config' does not exist on type 'store'

In any vue component (with TS) it gets recognised and w

[2020-11-25 08:36] kiaking commented on #1888
We shouldn't add this to Vuex since there's no `config` property in Vuex. That property should be added at plugin side, in this case, by Nuxt. You could define your own type augments like this maybe.

[code]

if this is intended behaviour for Nuxt, then it might make sense for Nuxt to add this. Please file an issue at Nuxt repo 👍

[2020-11-25 08:36] #1888 closed

[2020-11-25 15:15] #1874 closed

[2020-11-26 01:53] aleksey-hoffman opened #1889 "Mutation handlers need some serious re-evaluation 🐒"
### What problem does this feature solve?
Hey guys, can we discuss Vuex mutation handlers - arguably the most nonsensical thing in Vuex?

I've been developing a big complex app for 2+ years with Vue and I still haven't found good reasons to keep using mutation handlers. According to Vuex docs and my experience, the only thing they do is make debugging a little bit easier in some situations, while

[2020-11-26 01:56] aleksey-hoffman commented on #1889
Is it a good idea to just ignore mutation handlers and always mutate the store data directly, like shown in the `method 1` above, if we ignore the error traceability aspect of this method?

[2020-11-26 08:16] posva commented on #1889
This is why we are reconsidering mutations for Vuex 5, so please wait for the RFC to give your feedback. In the meantime, you can create your own Store with composition API and avoid mutations completely. You could also take a look at [Pinia Store](https://github.com/posva/pinia/tree/v1) which does not have mutations, but ultimately, Vuex 5 will bring an API that isn't as verbose as with mutations

[2020-11-26 08:16] #1889 closed

[2020-11-26 11:43] songololo opened #1890 "v4 reactive getters behaviour appears to have changed for nested methods?"
### What problem does this feature solve?
I used to be able to apply a reactive getter to a nested method inside an object instance stored in my v3 `vuex` state, but this doesn't appear to work anymore in v4.

In my case it was a `mapbox` instance which was created and then stored inside the `vuex` v3 store's state. I could then share this instance amongst various components and could also watch t

[2020-11-26 13:44] aleksey-hoffman commented on #1889
@posva thank you for the suggestions, I'll look into this.

What are the major purposes of mutation handlers anyway? Is it just debugging? What if all components just ignore mutation handlers and mutate all store properties directly, like shown in the method 1 above - will we only loose better debugging capabilities and that's it?

[2020-11-30 01:24] kiaking commented on #1890
@songololo This might be related to #1889. Could you test with Vuex 4.0.0-RC.2?

[2020-11-30 12:00] songololo commented on #1890
I am still encountering the same issue on `4.0.0-rc.2`

[2020-11-30 12:02] kiaking commented on #1890
Oh, OK. Hmmm... let me look into it.

[2020-11-30 12:12] kiaking commented on #1890
@songololo OK, I can't reproduce the issue. I've tried first defining `state.mapInstance` as `null`, then, set `new MapInstance` with a mutation. Then I correctly got the `getZoom` method. So the following code is working.

[code]

When you click `SET INSTANCE` button, then the `'Zoom!'` string is displayed on the screen. Is this what you're trying to do? Please provide reproduction code that I ca

[2020-11-30 18:01] songololo commented on #1890
Thanks. I added a reproduction here:
[`https://github.com/songololo/test-vuex`](https://github.com/songololo/test-vuex)

I am trying to use a Mapbox instance via the store, which is something I used to be able to do in Vue v2 with the old `vuex`.

[2020-12-01 00:50] kiaking commented on #1890
@songololo Thank you for the code! OK, so I've run the code, and got this.

<img width="1392" alt="Screen Shot 2020-12-01 at 9 45 35" src="https://user-images.githubusercontent.com/3753672/100682703-083bc300-33ba-11eb-8d97-1f8a9c0262a2.png">

`getZoom` is returning 0, so... it's working?

I wondered maybe you wanted to `getZoom` to return a new value each time an user scroll the map, in that case,

[2020-12-01 11:00] ChenYCL commented on #1833
same issues,  here my way to achieve

[code]
[code]

[code]

[code]

[2020-12-01 20:20] songololo commented on #1890
Thanks for looking:
The zoom level is meant to track the actual zoom state of the map, which starts around 3 then changes reactively.

I've created a repo using Vue 2 with Vuex 3 over here: [https://github.com/songololo/test-vuex-3](https://github.com/songololo/test-vuex-3)

[2020-12-02 00:57] kiaking commented on #1890
@songololo Thanks for the reproduction. Now I see what is going on. Indeed Vuex 3 is updating the state. I did few tests.

If we assign a new class, and then update the state, it will be reactively updated. Like this.

[code]

This is essentially the very simple version of `mapInstance` implementation. Then, if we use this in Vue Component like this, it works.

[code]

So, "nested methods" is work

[2020-12-02 09:31] gyjtiancai opened #1891 "how to use the mapGetters, mapActions, mapMutations in vue3.0 setup()"
### Version
"vuex": "^4.0.0-0",

[code]

[2020-12-02 09:31] #1891 closed

[2020-12-08 06:47] xiaoluoboding commented on #1725
Recently, I implement the all things in this issue talk about, and I'm consider about to contribute in vuex, then i found that, the `useXXX` helpers proposal already exist nearly eight months.

checkout [https://github.com/vueblocks/vue-use-utilities#vuex](https://github.com/vueblocks/vue-use-utilities#vuex)

`@vueblocks/vue-use-vuex` - Use Vuex With Composition API Easily. It build on top of `vue

[2020-12-08 14:15] ChanningHan commented on #564
It is v4.0.0-rc.2 now.
But it seems to haven't no TypeScript supporting for Mutations and Actions.
Why do the Mutations or Actions have to be used by giving identifier string to trigger?
So, will there be any new feature or API to implement type suporting for mutations and actions?

[2020-12-08 14:35] ClickerMonkey commented on #564
@ChanningHan I've been working on full type support for vuex in my personal time, and with TS 4.1 it seems definitely possible. The only thing holding it back is a problem with TS where it obnoxiously warns about "potentially infinite blah blah". I will be updating this issue: https://github.com/vuejs/vuex/issues/1831

[2020-12-09 13:16] Slender1808 opened #1894 "bug store typescript"
I'm not able to change the status of my store
[code]

[2020-12-09 13:16] #1894 closed

[2020-12-09 13:23] Slender1808 opened #1895 "bug store typescript"
### Version
4.0.0-rc.2

### Reproduction link
[https://codesandbox.io/s/romantic-margulis-hq4nb?file=/src/main.js](https://codesandbox.io/s/romantic-margulis-hq4nb?file=/src/main.js)

### Steps to reproduce
[code]

### What is expected?
state.search is equal to payload

### What is actually happening?
state.search remains the same

[2020-12-09 17:51] songololo commented on #1890
Thanks @kiaking

For now I've changed approach to work with the new behaviour: I've attached event watchers to the Map object and these, in turn, update the state when the map is moved (and I can then plumb the reactive getters to those instead).

Regarding `mapbox-gl` and the `getZoom` method: The `Map` class extends a `Camera` class which contains the `getZoom` method, which looks like this:

[c

[2020-12-11 15:34] ChanningHan commented on #564
@ClickerMonkey Bravo~It will be exciting!
ActuaIly, I used to be a heavy user of Vuex before using TS. So, I really hope to see the full type support for vuex, and thank you for your hard working on it♥

[2020-12-12 04:41] millansingh opened #1898 "Vuex fails to update state object with new object"
### Version
3.5.1

### Reproduction link
[https://codepen.io/millansingh/pen/dypOBjb](https://codepen.io/millansingh/pen/dypOBjb)

### Steps to reproduce
Just hit the button to run the mutation, but nothing will change which is the issue.

### What is expected?
The mutation should change the object in store, making the "output" div show 3 instead of 1.

### What is actually happening?
Nothing chan

[2020-12-12 10:06] cuebit commented on #1898
The repro you've provided isn't setup correctly.

1. Remove the imports (you're already loading Vue + Vuex in pen settings)
2. Use the correct casing i.e. `Vue`/`Vuex`, not `vue`/`vuex`
3. `newObj` should also be spread into the new assignment i.e. `state.obj = { ...state.obj, ...newObj }`

With the above said and done, here's a working example of your pen: https://codepen.io/cuebit/pen/gOwgOWa

[2020-12-12 19:19] millansingh commented on #1898
Thanks for that. First time using Codepen, my bad.

However, the method you're using does not work for me in my local project. That said, upon looking at it again, I think the issue may have something to do with the fact that the object in question in my local project is part of an array. It's actually nested a few layers deep in several objects/arrays. I'm using a function to find it based on som

[2020-12-12 19:19] #1898 closed

[2020-12-14 09:18] zdm commented on #1763
Why not use ES classes and all advantages of OOP for store?

I creates wrapper, that convert ES instance to vuex store. It is simple and provides clear interface for users.

Example:

[code]
- properties become vuex state reactive props, `this.state1` - get property, `this.state1 = 123` - commit;
- get - become reactive getter with caching;
- methods - become actions;
- property, that has initial

[2020-12-15 03:29] Alanscut opened #1899 "The test case fails to pass the test in the local environment."
### Version
4.0.0-rc.2

### Reproduction link
[https://github.com/vuejs/vuex/tree/v4.0.0-rc.2](https://github.com/vuejs/vuex/tree/v4.0.0-rc.2)

### Steps to reproduce
1. `npm install`
2. `npm run test:e2e`  or   `yarn test:e2e`

### What is expected?
All test cases pass in local environment.

### What is actually happening?
test case todomvc failed

---
ENV: <br >Ubuntu 18.04.5 LTS<br >

[2020-12-15 06:21] tobiberlin opened #1900 "Vuex - check if data really can be stored in localstorage"
### What problem does this feature solve?
We run into the following issue:

 - An app built with Vue/ vuex works fine
 - The issue appears when the app is embedded into another third party page with an iframe
 - when the user configured the browser to reject third party cookies the browser also rejects third parties (our app) from saving data in localstorage
 - this leads to an error in browser's

[2020-12-15 06:28] cuebit commented on #1900
Googling this yields copious amounts of solutions. [Here's one](https://stackoverflow.com/q/16427636/2150268) of many.

This is something outside the scope of Vue/Vuex and something a plugin would likely resolve.

[2020-12-17 06:37] uinio opened #1901 "vue3 design reference"
vue-store.ts
[code]
same api

[2020-12-17 06:37] #1901 closed

[2020-12-17 09:24] uinio opened #1902 "(storeApp) store splits a single node"
### Version
4.0.0-rc.2

### Steps to reproduce
store.ts
[code]
store-app.ts
[code]

### use
count.ts
[code]
index.ts
[code]
useStore
[code]

[code]

[2020-12-17 09:24] #1902 closed

[2020-12-17 10:02] uinio opened #1903 "StoreApp and Namespace"
### What problem does this feature solve?
storeApp
[code]
namespace
[code]

### What does the proposed API look like?
storeApp can be split into multiple independent stores (remove RootState)
namespace better ts inference

[code]

[code]
[code]

[2020-12-17 20:54] hackel opened #1905 "feat: Allow plugins in modules"
### What problem does this feature solve?
Currently plugins are only loaded in the root store instance and are silently ignored in modules.  It would be convenient and consistent to be able to register plugins within a module.  The plugin should receive a store with module-scoped state, getters, rootState, etc. just like an action.  This would allow for better separation of concerns and avoid havi

[2020-12-18 02:18] uinio commented on #1763
V5 reference

[code]
Use

[code]
[code]

[2020-12-18 02:19] #1903 closed

[2020-12-18 10:46] jvhellemondt commented on #1118
It feels kinda hacky to do it as follows. But it works..

[code]

Any objections I'm missing? I believe reactivity is still in order. But again, it feels hacky..

[2020-12-18 15:59] fangbinwei opened #1906 "tree shaking not work because of vuex.mjs"
### Version
4.0.0-rc.2

### Reproduction link
[https://github.com/fangbinwei/vuex-next-issue](https://github.com/fangbinwei/vuex-next-issue)

### Steps to reproduce
1. yarn build
2. search `prev state` in dist/main.js to validate if bundle contains `createLogger`

https://github.com/vuejs/vuex/blob/bb7885700d7bd7afd4d12fc8be7f5b3eeaa58b0e/src/plugins/logger.js#L33

**main.js**
[code]
output(extern

[2020-12-19 08:28] Alanscut commented on #1734
@peerhenry This part lines in [Namespacing chapter](https://vuex.vuejs.org/guide/modules.html#accessing-global-assets-in-namespaced-modules), not in [getters](https://vuex.vuejs.org/guide/getters.html). and vuex4 docs has released in [here](https://next.vuex.vuejs.org/guide/modules.html#accessing-global-assets-in-namespaced-modules).

[2020-12-21 12:30] Alanscut opened #1909 "Single quotes cannot be identified in package.json of the Windows operating system."
### Version
4.0.0-rc.2

### Reproduction link
[https://github.com/vuejs/vuex/blob/c9dbb13d4138d0e7d82d103dd3275fc18fa72d28/package.json#L33](https://github.com/vuejs/vuex/blob/c9dbb13d4138d0e7d82d103dd3275fc18fa72d28/package.json#L33)

### Steps to reproduce
yarn run test:e2e

### What is expected?
All tests pass

### What is actually happening?
Consoling an error: ''jest' is not an internal or ex

[2020-12-23 01:46] Alanscut opened #1914 "When not in the ci environment, puppeteerOptions will be set to empty, causing the test case to fail under Windows."
### Version
3.6.0

### Reproduction link
[https://github.com/vuejs/vuex](https://github.com/vuejs/vuex)

### Steps to reproduce
npm install<br >
npm run test:e2e

### What is expected?
Test case of e2e passed.

### What is actually happening?
show error like this:
[code]

---
If `puppeteerOptions` is set to `{ args: ['--no-sandbox', '--disable-setuid-sandbox'] }` in the local environment, the test

[2020-12-24 12:38] Alanscut commented on #1846
when a module with the same name is registered repeatedly, there is an warning on the console:
![image](https://user-images.githubusercontent.com/21104054/103088907-4af26300-4627-11eb-8eba-921187e383c0.png)

And maybe it's a deliberate design, please check the doc: https://vuex.vuejs.org/guide/modules.html#namespacing

**By default, actions and mutations are still registered under the global names

[2020-12-24 15:44] utnaf opened #1917 "tor exists"

[2020-12-24 15:44] #1917 closed

[2020-12-24 15:45] utnaf commented on #1917
I was typing stuff and this randomly happened. sorry, ignore me.

[2020-12-26 18:22] jguillod opened #1918 "ShoppingCart.vue : incorrect usage of :key attribute"
### What problem does this feature solve?
This following correction will help developers better understand your example and eliminates confusion.

### What does the proposed API look like?
Line 6 to 8 of `ShoppingCart.vue` file is :

[code]

but since `product.id` is undefined in result of computed getters `cartProducts` the `:key` attribute should be dropped. Code should simply be written:

[code

[2020-12-28 06:35] Alanscut commented on #1725
I find the proposal has been stalled for a long time.Is it still under development?Hope this proposal can be realised soon.

[2020-12-28 14:48] jddxf opened #1919 "Make overloads of commit/dispatch method interchangeable"
### What problem does this feature solve?
Currently, there're two ways to commit a mutation. But they are not interchangeable. To be more specific, the following mutations cannot be committed conveniently using the object-style commit:
[code]
Even when they seem interchangeable, the payloads received in the mutation handler are not exactly the same:
[code]
The same is true of dispatching an action

[2020-12-29 03:56] Alanscut commented on #1918
if remove the `key`, and enable the eslint check, it will report error like this:
**Elements in iteration expect to have 'v-bind:key' directives.eslint-plugin-vue**

[2020-12-29 11:23] xgqfrms commented on #688
# 🎩 magic

[2020-12-30 14:55] paleo commented on #1763
Another proposal here: https://github.com/posva/pinia

[2021-01-02 18:43] filips123 commented on #1675
I also had the problem because of this. And note that is also happens with other plugins similar to `vuex-persist`, such as `vuex-persistedstate` (robinvdvleuten/vuex-persistedstate#311).

I agree with your proposed solution, but I think there should also be a way to merge default state with stored state, so all keys from stored state will stay the same while adding all other keys/fields from the

[2021-01-04 09:31] kiaking commented on #1881
Oh yeah it makes sense. DevTools records all of the mutations, so you get 100kb states per 3 sec. You can disable devtools via `devtools` option. I think the best way for you is to limit how much data you fetch in your dev environment. It should work fin in production mode 👍

[code]

[2021-01-04 09:31] #1881 closed

[2021-01-04 09:36] kiaking commented on #1890
Great to hear you found a way out!

Yeah... though it's strange. I don't see why nested function wouldn't work. Maybe we can come back and check if something would change in Vue 3 👀

[2021-01-04 09:40] kiaking commented on #1899
Can't reproduce in my environment. Could you test using `yarn` instead of `npm` and see how it goes?

[2021-01-04 09:43] kiaking commented on #1900
Yap, this is out of scope for Vuex. We can't cover all of the plugins or libs out there if those are compatible with Vuex or not 👍

[2021-01-04 09:43] #1900 closed

[2021-01-04 09:59] kiaking commented on #1905
We had [similar PR](https://github.com/vuejs/vuex/pull/773) in the past, but it was closed due to inactivity.

Maybe we should discuss this again...? Let's see if we can get any feedbacks on this.

[2021-01-04 10:04] #1909 closed

[2021-01-04 10:08] kiaking commented on #1734
OK, I'm still confused here. I think it's documented, in Namespacing chapter as @Alanscut mentioned. And I think it should be in there, since accessing namespaced getter is only relevant when you use namespacing 👀

[2021-01-04 22:26] tarkhil commented on #564
Spent several hours trying to modularize vuex store with TypeScript, I feel TS is just a way to write your code two times more. I do understand the importance of type safety, but I gave up trying to describe all types...

[2021-01-05 01:30] Alanscut commented on #1899
@kiaking ubuntu is not always failed, please reproduce it in `Windows`, whether using `npm` or `yarn`, the test result is same:
![image](https://user-images.githubusercontent.com/21104054/103595851-7b93a000-4f37-11eb-9411-3322c4de8a27.png)

[2021-01-05 01:59] jlgoff3 opened #1921 "Expose storeKey for unit test mocking when using useStore"
### What problem does this feature solve?
When unit testing Composition API style components, the developer may want to mock the Vuex store for testing purposes. However, due to the Vue instance not being available at setup() time, the useStore method is used in place of this.$store. This requires the developer to inject their Vuex mock, rather than using the traditional instance mocking option of

[2021-01-05 02:24] charles-allen commented on #564
TypeScript works best when you just describe a few core domain types & the rest of your code has types inferred from how you operated on those core types & library types. It's especially important for libraries/frameworks to export APIs with types; **a few `any`s sneaking in from libraries creates a lots of manual typing overhead.**

[2021-01-05 09:50] kiaking commented on #1921
Ah good point! I though we already did expose the `storeKey` but yeah it's hidden. I think we should expose it.

[2021-01-05 09:53] kiaking commented on #1899
Hah, OK. Hmmm... might be puppeteer limitation...? Could you test updating puppeteer to the latest version and see if anything changes? I don't have windows env so not so easy for me to debug this 😢

[2021-01-05 09:59] kiaking commented on #1833
Wait, I think we're losing focus on this issue but all you need to do is to remove `namespaced: true`. I don't think it works in Vuex 3 either 🤔

[code]

If I'm missing something, please provide a reproduction code 🙌

[2021-01-05 10:01] kiaking commented on #1895
Hi! Thanks for the report. But I can't access the reproduction link. Could you check it out?

[2021-01-05 10:05] #1899 closed

[2021-01-05 10:16] kiaking commented on #1918
Oh you're right, but in this case we should return `id` from `cartProducts`. It is always good to have `:key` on `v-for` element 👍

[2021-01-05 22:53] Slender1808 commented on #1895
I must have accidentally paid the demo

[2021-01-06 10:56] zynth17 commented on #1725
i hope this will be implemented very soon

[2021-01-06 14:49] jlgoff3 commented on #1921
Awesome - is this something I should put in a PR for?

[2021-01-09 15:16] soerenmartius opened #1923 "Best Practice: Should we throw errors in getters if the state is undefined?"
Quite often we are handling situations that require an optional state.

E.g., my state might look like this

[code]

The initial state will always be initialized with `isAuthenticated: false`. However, we assume that account will always be set in case a user logs in to our system. The user gets fetched during the login process.

At the moment, we are writing getters in a very simple an lean way, e

[2021-01-09 15:16] #1923 closed

[2021-01-12 01:01] yaquawa commented on #1833
The vuex team may want to learn something from https://github.com/ktsn/vuex-smart-module

[2021-01-12 06:00] xieyezi commented on #1833
same problem with me,Now ,I resolve like this:
[code]
[code]

And then I use one Hooks to get `state values`:

[code]
In the Views:

[code]
Which Like `mapState`, you only need to specify the module name and the required variable name.

[2021-01-12 11:54] pjar commented on #1520
Coming from backend world, where private methods are common pattern I'm a bit confused with no traction within that field. Just by marking something private you can explicitly and forever explain to other devs that this method should not be used directly as it is probably only a building block and very integral and necessary part for more complex business logic.  This then helps on reviewing other

[2021-01-13 19:27] mcrapts commented on #1823
I am still experiencing this issue. Is it really fixed?

[2021-01-13 19:36] cuebit commented on #1823
[This](https://github.com/vuejs/vuex/commit/c3a695e10682ab1b7288e72669861c9ca959df76) fix was reverted due to scope issues in Vue. When the issue is resolved there, this fix will be rolled back.

@kiaking should this issue be reopened and keep the bug label?

[2021-01-13 19:59] mcrapts commented on #1823
I see, thanks! At least I'm happy to see that it is clear what the issue is.

[2021-01-14 15:39] paleo commented on #1763
Fyi.
https://www.smashingmagazine.com/2020/12/vuex-library/

[2021-01-18 16:09] ArtuGit commented on #688
I would add if you have a store with modules, you can invoke a getter with a parameter by this way
`this.$store.getters['storeName/getterName'](param)`

[2021-01-18 16:16] LifeIsStrange opened #1925 "Immutable references state properties should NOT warn of `do not mutate vuex store state outside mutation handlers.`"
In a lot of contexts, we want to store _reference_ of objects in the store that come from a _library_.
This means that the reference come from _outside_ the store and is managed (mutated) outside of the store too.

Vuex will by default, rightfully throw a warning because the object is mutated oustide of the store mutations.
However in some cases it is useful to store such references in the stores

[2021-01-18 16:16] #1925 closed

[2021-01-18 16:22] LifeIsStrange opened #1926 "Immutable references state properties should NOT warn of `do not mutate vuex store state outside mutation handlers.`"
### What problem does this feature solve?
In a lot of contexts, we want to store _reference_ of objects in the store that come from a _library_.
This means that the reference come from _outside_ the store and is managed (mutated) outside of the store too.

Vuex will by default, rightfully throw a warning because the object is mutated oustide of the store mutations.
However in some cases it is usef

[2021-01-19 16:01] wz-china opened #1927 "[Vue3.0] watch the store.state.xxx in the setup run just one time"
example:

Vuex.state code:
`
{
    panelSize:{
        x:0,y:0
    }
}
`

components code :
`
import { useStore } from "vuex";
export default {
    name: "RenderPanel",
    setup(props) {
        const count = ref(0);
        const store = useStore();
        // the problem
        watch("store.state.panelSize",() => {
                count.value++;
                console.log("just run one time w

[2021-01-19 16:01] #1927 closed

[2021-01-21 05:46] eldanizguluzade commented on #133
Correct

[2021-01-22 08:18] dengyizhenfeng opened #1928 "The data obtained through Computed vuex is undefined in onUnmounted"
### Version
4.0.0-rc.2

### Reproduction link
[https://github.com/dengyizhenfeng/vue3-getters-undefined](https://github.com/dengyizhenfeng/vue3-getters-undefined)

### Steps to reproduce
Create a new project with the `vue create` command, select `vuex`, create a new variable {} in the state of vuex, and return a variable associated with this variable in the getters. This variable is obtained by co

[2021-01-25 03:37] kiaking commented on #1906
The fixed is merged. This should be fixed in new release!

[2021-01-25 03:37] #1906 closed

[2021-01-25 21:13] savannahp commented on #1831
This would realllyyy help! Instead have to use type any just to get it to compile when it comes to your store.ts file

[2021-01-26 09:00] kiaking commented on #1921
Sorry for the late response yes! I'll just expose them right a way 👍

[2021-01-26 09:10] kiaking commented on #1921
Fixed by 8b077e8

[2021-01-26 09:10] #1921 closed

[2021-01-26 09:33] kiaking commented on #1928
Nice catch. I've confirmed. But this happens with Vue's plain `reactive` as well.

[code]

 so not Vuex problem. Couldn't find existing issue for this 🤔  Probably would close this issue here, but I'm checking if there's any existing one, or if not, we should create an issue at Vue repo. Until then, I'll keep this one open!

[2021-01-26 09:35] kiaking commented on #1895
Closing due to inactivity. The link is still not accessible 😓  Please open another issue if there's anything!

[2021-01-26 09:35] #1895 closed

[2021-01-26 10:11] kiaking commented on #1928
I've opened issue in Vue repo. Let's follow at here.
https://github.com/vuejs/vue-next/issues/3099

By the way, I think you should be using `onBeforeUnmount` instead. In this hook, the computed value is always there 👍

[2021-01-26 10:11] #1928 closed

[2021-01-26 14:18] Daniel4Digital opened #1929 "Blank page after vuex upgrade to 3.6.1"
### Version
3.6.1

### Reproduction link
[https://codesandbox.io/s/vue](https://codesandbox.io/s/vue) (Sorry I dont know how to recreate the issue here, and don't have time, at the moment, to figure out how that works)

### Steps to reproduce
I am using vuex, without vue-router just so you know, and after updating 3.6.0 to 3.6.1 the page becomes blank, and the console has an error:

[code]

Do I r

[2021-01-26 14:23] kiaking commented on #1929
Oh no this is wrong. Let me check and fix. Probably would make a new release.

[2021-01-26 14:28] craigrileyuk commented on #1929
Can confirm:

    WARNING in ./node_modules/vuex/dist/vuex.esm-bundler.js 13:9-15
        export 'inject' (imported as 'inject') was not found in 'vue' (possible exports: default)
    WARNING in ./node_modules/vuex/dist/vuex.esm-bundler.js 475:9-14
        export 'watch' (imported as 'watch') was not found in 'vue' (possible exports: default)
    WARNING in ./node_modules/vuex/dist/vuex.esm-bundle

[2021-01-26 14:30] cuebit commented on #1929
@kiaking I think the module should point to vuex.esm.js not the bundler

[2021-01-26 14:30] kiaking commented on #1929
Yep!

[2021-01-26 14:31] cuebit commented on #1929
Oh looks like you already [commit the change](https://github.com/vuejs/vuex/commit/679313bf5e4de066f340a06ef9bfe08d1536fadd) 😅

[2021-01-26 14:37] kiaking commented on #1929
Done! Please upgrade to Vuex 3.6.2 🙇  Sorry for the mess! And thank you for catching it 🤝

[2021-01-26 14:37] #1929 closed

[2021-01-27 07:28] zshuaia commented on #1905
Support!.
I also need this feature.

[2021-01-28 13:16] Gameghostify commented on #679
This is an old issue but still, I agree. Why are getters so inconsistent here? Could this be fixed with the next version of Vuex? It feels weird being able to access state using `store.foo.bar.baz.someProperty` but having to use getters like `store["foo/bar/baz/someGetter"]`

[2021-01-28 15:50] sshiling commented on #1382
+1

[2021-01-28 16:17] m00nk commented on #1382
I assume this is wrong solution because in your example `that` will be pointed to vue component, instead of vuex.

[2021-01-29 00:55] mcfarljw commented on #1652
If you don't want to use `any` I also had luck declaring the object as the interface. Still not ideal but seemed to suppress the warning and typescript errors.

[code]

[2021-01-30 09:12] bilalcapripio commented on #264
"TypeError: Cannot read property 'getters' of undefined"

[2021-02-01 10:40] kiaking commented on #1926
Good point. This is not that easy thing to fix, but I get your point. By design, Vuex state is meant to be plain object, and wasn't design to be mutated by the stored object. But, I can see there're use cases where this is useful.

We should rethink how we manage these situations in next version of Vuex.

Mean while, you could suppress the warning by setting `strict` option to false I believe.

[c

[2021-02-04 02:48] silite opened #1931 "Its why?"
### Version
3.6.2

### Reproduction link
[https://codesandbox.io/s/nice-lamport-kkg9k?file=/src/App.vue](https://codesandbox.io/s/nice-lamport-kkg9k?file=/src/App.vue)

### Steps to reproduce
[code]

### What is expected?
Whether or not have debugger, log is `{}`.

### What is actually happening?
When there is no debugger, log is `{ a: '123' }`.

[2021-02-04 06:24] #1931 closed

[2021-02-04 11:31] evgencode commented on #1118
If the state for this key has already been changed, the changed state will be here. As a result, we will receive the same state as before reset. There will be a reference to the changed object

[2021-02-04 17:55] Pixdigit opened #1932 "Private Mutations"
### What problem does this feature solve?
I am faced with the problem that I have a change in state that might cause that state to become inconsistent. Let's say I have a city name and a zip code in my state. I do not want to change the zip code if the city is not within the area of that zip code. If I do that in a mutation I have no way to reject that change or to catch an error. However if I do

[2021-02-05 16:12] unadlib commented on #1890
[code]

The above issue occurred from `4.0.0 rc.2` to `4.0.0`, `fn.mock.calls.length` should be expected to be `2`.

[2021-02-05 16:22] kiaking commented on #1890
@unadlib That's expected at the moment. We need Vue 3.1 to fix it. See https://github.com/vuejs/vuex/pull/1883 for more details.

It's not related to this issue I think though.

[2021-02-09 07:31] bikingbadger commented on #1781
Hi there,
I'd like to jump in and start going over the code so wouldn't mind taken this one and fleshing out the docs a bit

[2021-02-12 10:25] atilkan commented on #1094
This is a legitimate problem. @kiaking Can you reopen this issue?

[2021-02-12 14:17] cuebit commented on #1094
This issue will remain closed. If you wish to open a new issue, please follow the [Issue Reporting Guidelines](https://github.com/vuejs/vuex/blob/dev/.github/contributing.md#issue-reporting-guidelines).

[2021-02-15 22:48] Kasheftin opened #1934 "Memory leak on a trivial app"
### Version
4.0.0

### Reproduction link
[https://kasheftin.github.io/vuex4-memory-leak-example2/](https://kasheftin.github.io/vuex4-memory-leak-example2/)

### Steps to reproduce
- Load the app and use chrome devtools memory tab;
- Take heap snapshot; The result is ~ 4.5 MB;
- Press "Add" button. It will create 100 items in the store;
- Take heap snapshot; The result is ~ 15.7 MB;
- Press "Clear

[2021-02-16 18:10] Kasheftin commented on #1934
That's vuex4 issue. If I replace vuex with just a plain array in data, everything works as expected (no memory leak):
Example 3 (vue3 without vuex): https://kasheftin.github.io/vuex4-memory-leak-example3/
Source code: https://github.com/Kasheftin/vuex4-memory-leak-example3

[2021-02-18 16:58] djom202 opened #1935 "Is possible to intercept the dispatcher?"
In my project currently I have around of 400 dispatch and I saw that the big part of that implementation has the same code:

[code]

So in order to reduce that code I'd like to intercept the dispatcher to throw the error once, and remove the extra code but I'm not sure if it's possible to do that. So just let me know if it's possible or there any other way to do it.

Thanks in advance.

[2021-02-18 16:58] #1935 closed

[2021-02-18 18:10] cuebit commented on #1935
Create a helper function, for example:

[code]

Or add a prototype method, for example:

[code]

[2021-02-18 20:21] djom202 commented on #1935
@cuebit Thanks for you answer. I'd like to implement the prototype function, but where should I put it? into the main.js or in the index store?

[2021-02-18 20:24] cuebit commented on #1935
In your entry file (main.js) before you instantiate Vue (i.e. `new Vue({})`)

[2021-02-19 15:29] francoism90 commented on #564
How should you write `getters`? I'm using this example: https://next.vuex.vuejs.org/guide/typescript-support.html#simplifying-usestore-usage

Doing `store.getters['foo/bar']` doesn't work because it returns 'any', how do you type hint these?

[2021-02-19 15:39] 3nuc commented on #564
You can't. Its the same as in Vue 2. The newest version of Vuex is mainly for Vue 3 support. Wait for Vuex 5 or use vuex-module-decorators (or similar pkgs)

[2021-02-19 15:47] francoism90 commented on #564
@3nuc I'm new to TypeScript so don't know what any of that means lol. As a workaround I'll be sticking to mapGetters as TS doesn't complain about this. State injection seems to working, but using helpers defeats the point of TS I think.

Will take a look at `vuex-module-decorators`, although I'll probably wait for Vuex 5. Thanks!

[2021-02-23 18:54] therealcoder1337 commented on #1118
would be nice to have a reset feature directly integrated to vuex, especially since you can already define module state as a function to improve reusability: https://vuex.vuejs.org/guide/modules.html#module-reuse

[2021-02-26 17:27] mokone91 commented on #1905
Upvote!

[2021-02-27 04:29] rauan100 opened #1939 "RootState should be a complete copy not a reference."
### Version
3.6.2

### Reproduction link
[https://codesandbox.io/s/dank-https-tqtvo?file=/src/store/index.js](https://codesandbox.io/s/dank-https-tqtvo?file=/src/store/index.js)

### Steps to reproduce
Change input value

### What is expected?
It is expected that the profile state value does not change

### What is actually happening?
the profile state is change

---
The rootState parameter passed

[2021-02-28 05:41] sagadav commented on #1939
rootState shouldn't be a copy. You are incorrectly assigning payload in the mutation
[code]
https://vuex.vuejs.org/guide/mutations.html#mutations-follow-vue-s-reactivity-rules

[2021-03-04 21:03] Akryum opened #1942 "Vuex 4 devtools integration"
The API for Vue Devtools 6.x is now documented [here](https://devtools.vuejs.org/plugin/api-reference.html).

I open this issue so we can keep track of the Vuex 4 integration.

- [x] Custom inspector with the module tree on the left & module state/getters on the right
- [x] Timeline layer: mutations
- [x] Inspect state after a mutation
- [x] Timeline layer: actions (with event groups)

[2021-03-04 22:42] sgallino commented on #1942
Thank you @Akryum for answering! :smile:

[2021-03-10 04:04] wwwhickup commented on #1942
How to resolve vuex problem in devtool

[2021-03-12 09:31] Fanna1119 commented on #1725
Any update on this?

[2021-03-12 09:33] zynth17 commented on #1725
there is another package like this, maybe you can check this package

https://github.com/vueblocks/vue-use-utilities

[2021-03-12 16:37] timritzer commented on #1831
I have written types to support 95% of the Vuex functionality. Because of some of the API surface I went with a wrapper approach, but the API surface is virtually identical. It supports all the mapper functions, and allows fully typed, checked access including namespaces. Would love some feedback if anyone finds it useful.

https://github.com/timritzer/typed-vuex

It requires TS 4.1 so that the te

[2021-03-12 17:26] ux-engineer commented on #1725
I think they are focused on Vuex version 5 RFC, which is totally new syntax for Vuex, similar to Composition API:

https://github.com/kiaking/rfcs/blob/vuex-5/active-rfcs/0000-vuex-5.md

https://github.com/vuejs/rfcs/discussions/270

[2021-03-15 19:37] AdamGaskins commented on #1592
I also just spent way too long trying to figure this out.

At the _very_ least, could we get some documentation on this? Maybe a section here on "Binding State Without Namespace": https://vuex.vuejs.org/guide/modules.html#binding-helpers-with-namespace

[2021-03-17 17:20] Gazorpazo0rp commented on #863
Is there anyway to do the same but with the format provided by the VUEX modules in the docs? This is what I mean:
`Vuex.mapState( //this.moduleName , ['someState','someOtherState'])
`
I don't want to map _All_ the state in the module like what you're doing in here but I can't figure out **how to pass an array** of needed state records.

Is this a way to do this?

[2021-03-18 04:04] ConsciousnessAwakened opened #1946 "Just Askin"
is the logo of vuex is the same as the logo of vue?

[2021-03-18 04:04] #1946 closed

[2021-03-18 11:32] tbhaxor opened #1947 "Implementing store typings in vuex3 with vue2"
### What problem does this feature solve?
This is moreover a question rather than feature.

How do I implement type intellisense in vuex3 with vue2? If there is no augmentation feature like vuex 4, Then could we add in vuex3 also?

### What does the proposed API look like?
N/A

[2021-03-18 16:01] engineertdog opened #1948 "Issue with map* with Vuex4, Vue3"
### Version
4.0.0

### Reproduction link
[https://gitlab.com/engineertdog/vuex-demo-bug](https://gitlab.com/engineertdog/vuex-demo-bug)

### Steps to reproduce
Clone the repo and run. I've included code for the working and non-working portions.

### What is expected?
I would expect that the map* methods in Vuex4 can be utilized in a computed method so that the get/set methods properly execute gett

[2021-03-20 20:17] maxxdev opened #1950 "State can be mutated outside the Store and without call mutation"
### Version
3.6.2

### Reproduction link
[https://jsfiddle.net/maksim_dev/jsgkhL83/3/](https://jsfiddle.net/maksim_dev/jsgkhL83/3/)

### Steps to reproduce
Click to the Trigger button

### What is expected?
count = 1

### What is actually happening?
- count encreases
- getter returns mutated state

[2021-03-20 20:53] cuebit commented on #1950
State can be mutated when strict mode is disabled. In your example, you're using a distributed bundle which eliminates any assertions. Therefore errors will not be thrown preventing you from mutating the state outside mutations, as it would if it was enabled.

[2021-03-20 20:54] #1950 closed

[2021-03-20 21:06] cuebit commented on #1939
As @sagadav quite rightly mentioned, rootState should be a reference. Actions are asynchronous, state can change at any point between an actions invocation and resolution.

[2021-03-20 21:06] #1939 closed

[2021-03-21 01:07] rynz commented on #1763
https://github.com/vuejs/rfcs/pull/271

[2021-03-21 04:52] maxxdev commented on #1950
But mutation happens even if we clone array by spread `const stuff = [...this.$store.getters.stuff]`

[2021-03-21 13:33] tomknappramos opened #1951 "A watch option in Vuex store definitions for defining watchers like the Vue component definition watch option"
### What problem does this feature solve?
The end user experience is a significantly more approachable and developer-friendly way to utilize watchers in Vuex.

To me, this has always just seemed like "the missing piece of Vuex".

What I mean by "missing piece of Vuex" can perhaps be made more clear with the following analogy,
component definition :: store definition
data :: state
computed :: gette

[2021-03-21 21:59] cuebit commented on #1951
Duplicate of #1219

Please create issues if you've found an actual issue or wish to propose a new feature. Questions can asked and answered in the [Discord](https://chat.vuejs.org/). Thanks!

[2021-03-21 21:59] #1951 closed

[2021-03-21 23:42] tomknappramos opened #1952 "Vuex - watch option in definition - WHY?"
### What problem does this feature solve?
Please do not close this without looking through ALL the links below.

People have asked, but as far as I have read and looked through discussion forums, no one has actually given an answer.

You'll notice that discussions just get closed but always without an answer or meaningful discussion,

https://github.com/vuejs/vuex/issues/1951
I ask "why this isn't

[2021-03-22 17:55] lukeJEdwards commented on #1948
the map functions are currently not working for the composition API which you are using

[2021-03-23 16:52] SimonChaumet opened #1955 "Do mutations on next tick"
### What problem does this feature solve?
When modifying data in the stores I want the action callback to be called before every mutation.
E.g: I'm in a modal and I delete the currently viewed object, I want to call my router.push before the object is effectively deleted.

### What does the proposed API look like?
The new API would not change (in appearance) : all the commits would be applied in a

[2021-03-23 21:21] LaKing commented on #1258
.. is this eventually addressed in vue 3?

[2021-03-24 14:30] ConnorJBishop opened #1956 "Vuex4 - typings for store.getters"
Forgive me if I'm missing something but it seems that for Vuex4 there is no way to provide typings for our getters, only state. As a result `store.getters` is of type `any` which is not ideal for typescript users.

Is this an intentional design decision?

[2021-03-24 14:30] #1956 closed

[2021-03-25 09:39] Chimi-S opened #1957 "Issue with compostion api while accessing module."
import { createNamespacedHelpers } from 'vuex'
  const { mapState } = createNamespacedHelpers('sysStore/menus')

[2021-03-25 09:39] #1957 closed

[2021-03-25 12:57] kiaking commented on #1763
So yes, Vuex 5 RFC is open. Lets continue the discussions over there 👍

[2021-03-25 12:57] #1763 closed

[2021-03-25 15:59] tbhaxor commented on #1947
Any updates on this?

[2021-03-25 23:48] kiaking commented on #1781
This has been added to the docs 👍

[2021-03-25 23:48] #1781 closed

[2021-03-26 03:57] xunmia opened #1958 "cnd"

[2021-03-26 03:57] #1958 closed

[2021-03-26 05:40] xunmia opened #1959 "引入esm cdn，报 Failed to resolve module specifier "vue"错误。"
## 操作步骤
1.  执行yarn命令安装依赖
2.  执行yarn build打包项目
3.  打包项目部署在服务器上运行

## 期望
项目正常运行

## 实际
Failed to resolve module specifier "vue". Relative references must start with either "/", "./", or "../".

## 项目复现
https://github.com/xunmia/vite-vuex-project

[2021-03-26 05:40] #1959 closed

[2021-03-26 05:44] xunmia opened #1960 "引入esm cdn，运行报错。"
### Version
4.0.0

### Reproduction link
[https://github.com/xunmia/vite-vuex-project](https://github.com/xunmia/vite-vuex-project)

### Steps to reproduce
1. gitclone项目链接
2. yarn安装依赖包
3. yarn build打包项目
4. 打包项目部署到服务器
5. 运行项目

### What is expected?
项目正常运行

### What is actually happening?
Uncaught TypeError: Failed to resolve module specifier "vue". Relative references must start with either "/", ".

[2021-03-26 16:52] marcelruiter commented on #1942
It is very annoying that vue3 is out for a long period now and still other components not working well like Vuex. Is it so very hard to implement this? I think that there are a lot of developers who love to see it working asap. Please take priority of this issue.

[2021-03-26 17:17] geoidesic commented on #1942
Yes, your majesty. At once, your majesty!

[2021-03-29 13:43] ZhouZiXuan-imb opened #1961 "{root:true} 的作用是什么？"
官网上介绍的commit调用放的时候 options里可以有{root:true}，没看懂是什么意思，请问能详细描述一下 {root:true} 的作用吗？

[2021-03-29 13:43] #1961 closed

[2021-03-31 15:06] SimonChaumet commented on #1955
I didn't said that it was vuex _responsability_ but that would be a nice feature since vuex is made for Vue or at least add a simple way to return before. I didn't dig so much to find where is the problem, maybe it comes from vue router.

[2021-03-31 15:33] cuebit commented on #1955
Again, I'm not sure how this is relevant to Vuex, even as a feature.

Do you have a working example that demonstrates the pros and cons of the proposed feature? It would certainly help understand the benefits of your proposal.

[2021-04-01 16:10] ibalaji777 opened #1963 "VUEX MODULE STATE SHOWING STRANGE VALUE"
i am using vuex past 3 years but now i face some strange error in my mutation i have a simple function it showing with wrong unknown state value by vuex
i am  facing this issue inside vuex module

my store
[code]

action.js inside module

[code]

mutaiton.js

// import Vue from 'vue'
[code]
const mutations={

    list_of_data(state,payload){
        console.log("state");
        console.log(state)

[2021-04-01 16:10] #1963 closed

[2021-04-01 18:27] isat7 commented on #1963
I tried all ,it looks like package bug

[2021-04-01 18:33] isat7 commented on #1963
Found solution  don't  use store keyword in modul🤬

[2021-04-02 08:28] Alanscut commented on #1960
由于4.0版本依赖了Vue，采用 `import { xxx } from 'vue'`的方式引入，这不符合esm规范，因此并不支持cdn。将config中的vuex去掉就可以正常工作了。

[2021-04-02 21:38] guilhermeavdino commented on #1748
Thanks by solution

[2021-04-10 13:30] BroJenuel opened #1966 "Is Veux using pinia?"
Is Veux using pinia?

[2021-04-10 13:30] #1966 closed

[2021-04-10 14:30] dhruvkb commented on #1942
In the meantime, while this has not been merged and rolled out, is there a workaround we can use to debug the Vuex store?

[2021-04-10 15:00] Anubarak commented on #1942
@dhruvkb you could fork the repo, merge the pull request and use your forked vuex version.

[2021-04-10 18:28] davidrunger commented on #1942
@dhruvkb : You can use `createLogger` to debug Vuex. There's an example of how to use `createLogger` [here](https://github.com/vuejs/vuex/blob/4.0/examples/composition/chat/store/index.js).

[2021-04-13 08:58] ThomasKientz opened #1968 "Can't use `this` with helpers function"
### Version
3.6.2

### Reproduction link
[https://codesandbox.io/s/aged-feather-stzbi?file=/src/App.vue](https://codesandbox.io/s/aged-feather-stzbi?file=/src/App.vue)

### Steps to reproduce
Use `this` inside of parameters in vuex helpers

[code]

### What is expected?
The map getters to map to the submodule "page/{id}"

### What is actually happening?
This throw en error :

### Some context

I a

[2021-04-14 07:22] Alanscut commented on #1961
Please see the follow unit tests:
https://github.com/vuejs/vuex/blob/96a265a345c76ec7d0f81a115aef74b7eda89452/test/unit/modules.spec.js#L486-L527

when calling `commit` or `dispatch` with option `{root: true}`, indicating that you can access the mutations and actions defined **`outside the module`**.

[code]

[2021-04-14 07:41] Alanscut commented on #1966
no, Vuex does not depend on any libraries

[2021-04-15 04:59] 6twenty opened #1969 "Return a rejected promise rather than use `throw` in actions when registering the devtools hook"
### Version
3.6.2

### Reproduction link
[https://x422e.csb.app/](https://x422e.csb.app/)

### Steps to reproduce
This issue only occurs when using the Vue devtools extension (as far as I can tell) - however note that the issue is within Vuex and not the devtools extension. The issue occurs when `store._devtoolHook` is defined in the Vuex source.

- Configure the browser's devtools debugger to bre

[2021-04-15 07:20] Alanscut commented on #1968
`computed` is initiated before `beforeCreate` lifecycle,  so `mapGetters` function will execute before `beforeCreate`,
However, at this moment `this.module` or `this.$router` is not initialized completely and is `undefined`.

So the verbose way maybe the better choice.

[2021-04-15 07:59] ThomasKientz commented on #1968
@Alanscut thanks for the explanation. Is it documented somewhere ? I don't see it on the [Vue's official Lifecycle Diagram](https://vuejs.org/v2/guide/instance.html#Lifecycle-Diagram)

[2021-04-15 07:59] #1968 closed

[2021-04-15 09:20] cuebit commented on #1968
@ThomasKientz this has nothing to do with lifecycle operations and computed properties. In your case it’s simply the incorrect usage of `this` keyword.

Using `this` in your second example is more relevant to context, not verbosity, and is the correct and recommend usage.

[2021-04-15 09:44] zanzara commented on #863
@Gazorpazo0rp  thanks, that helped me a lot.
One remark:
Maybe one should add exitings `computed's` or `methods`
(i.e. how i did to make it in my quasar project.)
[code]

[2021-04-15 11:46] frck006 commented on #1960
I have a similar problem

- index.html
            <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.7/vue.esm-browser.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/4.0.0/vuex.esm-browser.js"></script>
            <script src="/media/components/main.js" type="module"></script>

- main.js
 import { createApp } from 'vue'
 import { createStore } from 'v

[2021-04-15 18:24] mohammedzamakhan commented on #1831
Any updates for better Typescript support for Vuex 4?

[2021-04-16 03:47] Alanscut commented on #1960
the same issue exists in [vue-router-next](https://github.com/vuejs/vue-router-next), see [#694](https://github.com/vuejs/vue-router-next/issues/694)

[2021-04-29 02:22] Trinovantes commented on #1934
![Screenshot 2021-04-28 221836](https://user-images.githubusercontent.com/458691/116494868-bff0d600-a86f-11eb-9fc3-26f7daffee89.png)

If I'm reading this right, it seems the memory leak is caused by Vue Devtools chrome extension retaining a reference to the array. If I delete the extension, I can't reproduce the memory leak in your example2 url.

[2021-04-29 06:42] Kasheftin commented on #1934
Good catch!

[2021-04-29 08:14] Akryum commented on #1934
Vuex 4 has outdated devtools code form Vuex 3.

#1949

[2021-05-06 21:09] jaunt opened #1975 "Plugin subscribe to state change only (not just any mutation)"
### What problem does this feature solve?
It seems like the subscribe callback occurs even if a mutation doesn't actually change the state.  For persisting a large vuex store in a plugin, this seems be super inefficient.

### What does the proposed API look like?
subscribeChange(state)

Would only be called when the state has changed.

[2021-05-08 13:57] erdemefe07 commented on #1942
https://github.com/erdemefe07/vuex4-devtools-support

[2021-05-10 08:53] towertop commented on #1948
map* helpers is not for composition api in setup(), cause they depend on 'this':

https://github.com/vuejs/vuex/blob/4.0/src/helpers.js#L88

[2021-05-10 13:44] lukeJEdwards commented on #1948
have a look at this issue, https://github.com/vuejs/vuex/issues/1725

[2021-05-13 16:05] glen-84 commented on #1831
Does anyone know how to augment the vuex types to achieve what is shown [here](https://www.programmersought.com/article/25637170919/):

[code]

![image](https://user-images.githubusercontent.com/261509/118152979-a88c1e00-b415-11eb-9ff5-4fe63fbd4b49.png)

([playground](https://www.typescriptlang.org/play?ts=4.1.0-pr-40336-8#code/C4TwDgpgBAagrhAHgeTMAlgewHYGcA8AsgDRQByAfFALxQDeAUFM9gIYC2EuYrAxhAH4AX

[2021-05-13 16:14] Shinigami92 commented on #1831
Isn't is possible to get something like
[code]
This would be a whole new feature request, but would increase the DX by far IMO

[2021-05-13 16:25] glen-84 commented on #1831
@Shinigami92 There's [direct-vuex](https://github.com/paroi-tech/direct-vuex), but it seems a bit awkward. This should be part of vuex itself IMO.

[2021-05-13 16:35] mrichar1 opened #1981 "state 'hasOwnProperty' getter reactivity"
### Version
4.0.0

### Reproduction link
[https://codesandbox.io/s/vue-3-vuex-4-test-forked-926e7?file=/src/store/index.js](https://codesandbox.io/s/vue-3-vuex-4-test-forked-926e7?file=/src/store/index.js)

### Steps to reproduce
The minimal reproduction starts with an empty state, then fetches data from an api (with a delay). To reproduce, just run the app with the `if` test using `hasOwnProperty

[2021-05-13 16:39] Shinigami92 commented on #1831
@glen-84 Need to test this out next week. Thanks for pointing to this, didn't know it.

[2021-05-13 18:32] timritzer commented on #1831
Ya, absolutely. We use it this way. I'll try to distill it down for you.
I use the above package to accomplish it.

We use modules, so I can't give you examples without modules, but the approach would be similar.

I'll make a small Gist.

[2021-05-13 21:12] timritzer commented on #1831
@glen-84 Here is a sample of how I am doing it: https://github.com/timritzer/typed-vuex-examples
Feel free to ask any questions. It is working great for us, as we are any-free and have full types and auto-complete

[2021-05-14 01:14] cuebit commented on #1981
Parameterized getters can only derive things that are based in state. Since `x` doesn't exist, the immediate returning value is final therefore Vue has no dependencies to track. Iteration, such as `for in`, will enumerate members thus promoting dependency tracking.

The following may give you more hope in future:

- Declare state upfront (e.g. `state: () => ({ x: undefined })` will work in your ex

[2021-05-14 01:14] #1981 closed

[2021-05-16 14:46] glen-84 commented on #1831
@timritzer,

Thanks for putting that together. However, I was looking for something that would not require a separate package. I was hoping to be able to augment the existing types to make them enforce the use of specific strings (as derived from the actions, mutations, etc. in each module/sub-module).

[2021-05-17 03:18] timritzer commented on #1831
@glen-84 I mean the only package is a set of types I developed to make everything strongly typed. It's a pretty tiny package, handful of TS files, and no real functionality at run time. It has a few passthrough methods to use inferring the types, but that is it.

Feel free to copy the files and use it not as a package, I don't mind a bit. I just made it a package to follow the pattern everyone use

[2021-05-17 08:26] mrichar1 commented on #1981
So I went back to see why my existing Vue2 project works, and it appears to be that in Vue2 I am using `Vue.set` in the mutations (in my 'real' project `state` is more deeply nested).

I have forked the sandbox and switched to Vue2/`Vue.set` to demonstrate this:

https://codesandbox.io/s/vue-2-vuex-3-test-0jcve?file=/src/store/index.js

Thanks to your comment I now appreciate *why* the Vue3 exampl

[2021-05-17 13:31] cuebit commented on #1981
@mrichar1 the change in behaviour is on Vue's part, not Vuex. If anything, Vue.set was required due to Vue 2's reactivity limitations. Computed properties still behave in the same fashion in that they will trigger tracking updates should they have a dependency to track. This also still applies to method returning computations, since no caching is taking place but instead the method is invoked with

[2021-05-18 02:50] towertop commented on #1725
I implemented similar useXXX helpers during an experimental migration for my team's project. It is a single ts source file that you can copy and use. But the code pattern is just my personal opinion and maybe not quite helpful.

Plz check out the code and demo from https://github.com/towertop/vuex4-typed-method .

[2021-05-20 02:19] mouday opened #1983 "How Vuex getters no cache data"
[code]
I try get token from cookie.

but if my cookie `token` changed, I donot get new token value.

[2021-05-20 02:19] #1983 closed

[2021-05-23 21:34] sfaut opened #1985 "Vuex 4.0.0 esm-bundler build broken"
### Version
4.0.0

### Reproduction link
[https://codepen.io/JCH77/pen/vYxmOBJ](https://codepen.io/JCH77/pen/vYxmOBJ)

### Steps to reproduce
Use esm-browser builds
Import Vue 3.0.11 => OK
Import Vuex 4.0.0 => The following error occurs :
*Uncaught TypeError: Failed to resolve module specifier "vue". Relative references must start with either "/", "./", or "../".*

### What is expected?
Vuex esm-b

[2021-05-24 23:53] Akryum commented on #1942
Released in 4.0.1

[2021-05-24 23:53] #1942 closed

[2021-05-25 07:15] MrMitch commented on #1942
Thank you @Akryum for your dedication on this !

[2021-05-26 11:31] Alanscut commented on #1985
Duplicate with #1960. And the same issue exists in [vue-router-next](https://github.com/vuejs/vue-router-next), see [#694](https://github.com/vuejs/vue-router-next/issues/694), there doesn't seem to be a good solution.

[2021-05-30 18:40] kadet1090 commented on #1831
I've made my own type system that aims to be as non-intrusive as it's possible: https://github.com/kadet1090/vuex-typings for now it's not available as any JS package - I'm looking forward to do so, but I don't want for anyone to depend on something that in the end would not work out.

[2021-06-01 04:31] CokeMine opened #1991 "__VUE_PROD_DEVTOOLS__ is not defined When SSR with prod mode"
### Version
4.0.1

### Reproduction link
[https://github.com/cokemine/vuex-reproduce](https://github.com/cokemine/vuex-reproduce)

### Steps to reproduce
clone the repo.
[code]

### What is expected?
prod mode works well like dev mode.

4.0.0 works normal

### What is actually happening?
ReferenceError: __VUE_PROD_DEVTOOLS__ is not defined

 at Store.install (E:\vuex-reproduce\node_modules\vuex\di

[2021-06-01 11:11] ysj151215 commented on #1991
I met this issue too.
My current solution is changing Vuex dependency version from `"vuex": "^4.0.1"` to `"vuex": "4.0.0"`.

[2021-06-01 12:52] CokeMine commented on #1991
Yes. 4.0.0 can work.
It because 4.0.1 added setup devtools integration, #1949.
As I mentioned in the PR, it seems that https://github.com/vuejs/vuex/blob/4.0/rollup.config.js#L64 is not correct

[2021-06-01 15:30] kiaking commented on #1991
Fixed by #1992 🎉

[2021-06-01 15:30] #1991 closed

[2021-06-01 15:36] kiaking commented on #1985
Thanks @Alanscut for pointing out. Let's see how we can handle this. Maybe we might end up writing up cookbook in the docs like suggested in Vue Router discussion.

[2021-06-01 15:38] kiaking commented on #1934
This should be fixed on Vuex 4.0.1 with the correct new Devtools support 👍

[2021-06-01 15:38] #1934 closed

[2021-06-02 03:15] alpha-hxb commented on #1873
Hello，is this problem solve？I have the same problem ,can you tell me the sln?

[2021-06-02 06:55] davidyuk opened #1993 "Bluebird's promise returned by dispatch can't be canceled"
### Version
3.6.2

### Reproduction link
[https://codepen.io/davidyuk/pen/GRWQoBY](https://codepen.io/davidyuk/pen/GRWQoBY)

### Steps to reproduce
Open the console and see that "canceled" is not printed after calling `cancel` on dispatch's promise

### What is expected?
To have the promise returned from action be canceled

### What is actually happening?
It doesn't getting canceled

---
Related i

[2021-06-02 14:56] alpha-hxb commented on #1873
Hello，is this problem solve？I have the same problem ,can you tell me the sln? Thanks!

[2021-06-03 01:25] alpha-hxb opened #1996 "How to get state value on use Store Instance"
I have to use custom hooks,but can't use useStore ;
import the Store Instance in this,but i can't get right value.
[code]

console.log

![image](https://user-images.githubusercontent.com/30684108/120571804-72a6ec00-c44d-11eb-9eaa-0b25eb18f908.png)

is that i did is right way?
what i shold do ?
thanks.

[2021-06-03 01:25] #1996 closed

[2021-06-03 01:37] alpha-hxb opened #1997 "How to get state value on use Store Instance"
### Version
4.0.1

### Reproduction link
[https://codepen.io/alpha-hxb/pen/bGqLQyM](https://codepen.io/alpha-hxb/pen/bGqLQyM)

### Steps to reproduce
I have to use custom hooks,but can't use useStore ;
import the Store Instance in this,but i can't get right value.

### What is expected?
i can't get the right value from store

### What is actually happening?
get the null value

[code]

console.log

[2021-06-03 03:21] #1997 closed

[2021-06-04 05:28] Soviut opened #1998 "Document using multiple stores versus modules in Vuex 4"
### What problem does this feature solve?
This is sort of both a question and a suggestion; bear with me.

It feels like Vuex 4 may be leaning towards encouraging the use of multiple stores as an alternative to modules. Is this the case?

[The composition API example of `useStore`](https://next.vuex.vuejs.org/api/#usestore) shows the shortcut to export custom `useStore` functions so avoid having t

[2021-06-10 12:11] selucaciu opened #2001 "Performance drops when removing modules depending on the number of modules in Store"
### Version
3.6.2

### Reproduction link
[https://github.com/selucaciu/vuex-memory](https://github.com/selucaciu/vuex-memory)

### Steps to reproduce
1. Start the server using "npm run serve"
2. Access the application (http://localhost:8080) and you will see 3 links / options:
- Register 20 modules
- Register 40 modules
- Unregister 10 modules
 3. Click register 20 Modules(20 vuex modules will be

[2021-06-10 14:41] cuebit commented on #2001
This is expected, as outlined [here](https://vuex.vuejs.org/guide/strict.html#development-vs-production) in the documentation.

When strict mode is disabled, the performance impact between the two methods is negligible.

[2021-06-12 12:45] boussadjra opened #2002 "The state parameter in the plugin subscribe method doesn't infer the full type"
### Version
4.0.1

### Reproduction link
[https://codesandbox.io/s/purple-frog-60b4p?file=/src/store/plugins/myPlugin.ts](https://codesandbox.io/s/purple-frog-60b4p?file=/src/store/plugins/myPlugin.ts)

### Steps to reproduce
I've built my store code using Typescript and it works fine:

[code]

And I defined my custom plugin like :

[code]

### What is expected?
Get the `count` and `lang` inferred

[2021-06-16 07:31] yulafezmesi commented on #1725
One of the big deficiencies for vuex, any update on this?

[2021-06-16 13:25] selucaciu commented on #2001
Thank you for the quick reply. I also checked again and indeed disabling the strict mode does increase the performance but I think there is still is a big difference.
I rushed a bit with the code example but the test results are now as follows,
using the production build.
~105ms for unregistering 30 out of 60 modules
~291ms for unregistering 30 out of 120 modules
I still think it is a big differen

[2021-06-17 19:48] yowzadave commented on #651
Agree w/ the comments saying that this should be re-opened; @ktsn can you reconsider? We have an undo/redo feature that relies on vuex state changes; it would be tidy if we could just bundle multiple commits into one transaction. @alexsorokoletov's explanation makes the justification clear I think.